/* flexbox */
/* subnav color options */
.xml .hljs-tag .hljs-attribute,
.html .hljs-tag .hljs-attribute {
  color: #aa0d91; }

/*

XCode style (c) Angel Garcia <angelgarcia.mail@gmail.com>

*/
.hljs-comment {
  color: #006a00; }

.hljs-keyword,
.hljs-literal,
.nginx .hljs-title {
  color: #aa0d91; }

.method,
.hljs-list .hljs-title,
.hljs-tag .hljs-title,
.setting .hljs-value,
.hljs-winutils,
.tex .hljs-command,
.http .hljs-title,
.hljs-request,
.hljs-status,
.hljs-name {
  color: #008; }

.hljs-envvar,
.tex .hljs-special {
  color: #660; }

.hljs-string {
  color: #c41a16; }

.hljs-tag .hljs-value,
.hljs-cdata,
.hljs-filter .hljs-argument,
.hljs-attr_selector,
.apache .hljs-cbracket,
.hljs-date,
.hljs-regexp {
  color: #080; }

.hljs-sub .hljs-identifier,
.hljs-pi,
.hljs-tag,
.hljs-tag .hljs-keyword,
.hljs-decorator,
.ini .hljs-title,
.hljs-shebang,
.hljs-prompt,
.hljs-hexcolor,
.hljs-rule .hljs-value,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-number,
.css .hljs-function,
.hljs-function .hljs-title,
.coffeescript .hljs-attribute {
  color: #1c00cf; }

.hljs-class .hljs-title,
.smalltalk .hljs-class,
.hljs-type,
.hljs-typename,
.hljs-tag .hljs-attribute,
.hljs-doctype,
.hljs-class .hljs-id,
.hljs-built_in,
.setting,
.hljs-params,
.clojure .hljs-attribute {
  color: #5c2699; }

.hljs-variable {
  color: #3f6e74; }

.css .hljs-tag,
.hljs-rule .hljs-property,
.hljs-pseudo,
.hljs-subst {
  color: #000; }

.css .hljs-class,
.css .hljs-id {
  color: #9b703f; }

.hljs-value .hljs-important {
  color: #ff7700;
  font-weight: bold; }

.hljs-rule .hljs-keyword {
  color: #c5af75; }

.hljs-annotation,
.apache .hljs-sqbracket,
.nginx .hljs-built_in {
  color: #9b859d; }

.hljs-preprocessor,
.hljs-preprocessor *,
.hljs-pragma {
  color: #643820; }

.tex .hljs-formula {
  background-color: #eee;
  font-style: italic; }

.diff .hljs-header,
.hljs-chunk {
  color: #808080;
  font-weight: bold; }

.diff .hljs-change {
  background-color: #bccff9; }

.hljs-addition {
  background-color: #baeeba; }

.hljs-deletion {
  background-color: #ffc8bd; }

.hljs-comment .hljs-doctag {
  font-weight: bold; }

.method .hljs-id {
  color: #000; }

.hljs-decorator {
  color: #800000; }

.hljs-emphasis {
  font-style: italic; }

/* flexbox */
/* subnav color options */
.features-hexagon {
  padding: 0 0 0 2em;
  background: url("/assets/img/homepage/hex-pin.png") left center no-repeat transparent;
  background-size: 1.4em auto; }

.hexagon-arrow {
  display: block;
  width: 100%;
  height: 70px;
  background: url("/assets/img/features/hex-arrow.png") center center no-repeat transparent; }

.visualization-icon {
  background-image: url("/assets/img/hexicons/visualization-hexicon.png"); }

.geocoding-icon {
  background-image: url("/assets/img/hexicons/geocoding-hexicon.png"); }

.directions-icon {
  background-image: url("/assets/img/hexicons/directions-hexicon.png"); }

.ready-content-icon {
  background-image: url("/assets/img/hexicons/ready-content-hexicon.png"); }

.geoenrichment-icon {
  background-image: url("/assets/img/hexicons/geoenrichment-hexicon.png"); }

.analysis-icon {
  background-image: url("/assets/img/hexicons/analysis-hexicon.png"); }

.real-time-icon {
  background-image: url("/assets/img/hexicons/real-time-hexicon.png"); }

.imagery-icon {
  background-image: url("/assets/img/hexicons/imagery-hexicon.png"); }

.storage-icon {
  background-image: url("/assets/img/hexicons/storage-hexicon.png"); }

.collaboration-icon {
  background-image: url("/assets/img/hexicons/collaboration-hexicon.png"); }

.offline-icon {
  background-image: url("/assets/img/hexicons/offline-hexicon.png"); }

.elevation-icon {
  background-image: url("/assets/img/hexicons/elevation-hexicon.png"); }

.feature-service-icon {
  background-image: url("/assets/img/hexicons/feature-service-hexicon.png"); }

.async-icon {
  background-image: url("/assets/img/hexicons/async-hexicon.png"); }

.military-icon {
  background-image: url("/assets/img/hexicons/military-hexicon.png"); }

.integration-icon {
  background-image: url("/assets/img/hexicons/integration-hexicon.png"); }

.viewer-icon {
  background-image: url("/assets/img/hexicons/viewer-hexicon.png"); }

.two-one-icon {
  background-image: url("/assets/img/hexicons/two-one-hexicon.png"); }

.three-one-icon {
  background-image: url("/assets/img/hexicons/three-one-hexicon.png"); }

.download-icon {
  background-image: url("/assets/img/hexicons/download-hexicon.png"); }

.mobile-icon {
  background-image: url("/assets/img/hexicons/mobile-hexicon.png"); }

.html5-icon {
  background-image: url("/assets/img/hexicons/html5-hexicon.png"); }

.store-icon {
  background-image: url("/assets/img/hexicons/store-hexicon.png"); }

.mac-icon {
  background-image: url("/assets/img/hexicons/mac-hexicon.png"); }

.home-icon {
  background-image: url("/assets/img/hexicons/home-hexicon.png"); }

.toolkit-icon {
  background-image: url("/assets/img/hexicons/toolkit-hexicon.png"); }

.doc-platform-switcher a + a {
  border-left: 1px solid #a9a9a9;
  padding: 0 0 0 0.375rem;
  margin: 0 0 0 0.375rem; }

.doc-platform-switcher .is-disabled:hover {
  cursor: pointer;
  text-decoration: none; }

.icon-social-sdk-home {
  padding: 0.25rem;
  background: #ffffff;
  border-radius: 50%;
  position: relative;
  top: 0.75rem;
  border: 2px solid transparent; }
  .icon-social-sdk-home:hover {
    border-color: #ffffff; }
  .icon-social-sdk-home.icon-social-twitter {
    background: #59adeb url("/assets/img/icons/social/twitter.svg") no-repeat center center; }
  .icon-social-sdk-home.icon-social-facebook {
    background: #3d5a96 url("/assets/img/icons/social/facebook.svg") no-repeat center center; }
  .icon-social-sdk-home.icon-social-github {
    background: #171515 url("/assets/img/icons/social/github.svg") no-repeat center center; }
  .icon-social-sdk-home.icon-social-geonet {
    background: #127bc0 url("/assets/img/icons/social/geonet.svg") no-repeat center center; }
  .icon-social-sdk-home.icon-social-contact {
    background: #8ec449 url("/assets/img/icons/social/contact.svg") no-repeat center center; }
  .icon-social-sdk-home.icon-social-share {
    background: #9081bc url("/assets/img/icons/social/share.svg") no-repeat center center; }

.sub-nav {
  position: relative; }

.sdk-home-banner {
  display: table;
  width: 100%; }
  .sdk-home-banner .sdk-home-banner-content,
  .sdk-home-banner .sdk-home-banner-image {
    display: table-cell;
    vertical-align: middle; }
  .sdk-home-banner .sdk-home-banner-image {
    text-align: center; }
    .sdk-home-banner .sdk-home-banner-image img {
      padding: 1.5rem 0 0.5rem;
      display: inline-block;
      max-height: 200px;
      width: auto; }
  @media screen and (max-width: 860px) {
    .sdk-home-banner {
      display: block; }
      .sdk-home-banner .sdk-home-banner-content {
        display: block; }
      .sdk-home-banner .sdk-home-banner-image {
        display: none; } }

.sdk-home-nav-list li {
  display: inline-block;
  padding: 0 1rem; }
  .sdk-home-nav-list li + li {
    border-left: 1px solid #a9a9a9; }

@media screen and (max-width: 860px) {
  .sdk-home-nav-list li {
    display: list-item; }
    .sdk-home-nav-list li + li {
      border-left: none; } }

.documentation-items .panel {
  padding: 0.675rem; }

.documentation-sections > section {
  margin-top: 0.75rem;
  margin-bottom: 2.25rem; }

.documentation-section-header {
  display: -ms-flexbox;
  display: flex;
  -ms-align-items: center;
  align-items: center; }
  .documentation-section-header .documentation-section-header-image {
    flex: 0 0 76px;
    position: relative;
    min-height: 76px;
    margin-right: 1rem; }
    .documentation-section-header .documentation-section-header-image:before {
      content: "";
      position: absolute;
      z-index: -1;
      display: inline-block;
      height: 76px;
      width: 76px;
      border-radius: 50%; }
    @media screen and (max-width: 860px) {
      .documentation-section-header .documentation-section-header-image {
        display: none; } }
    .documentation-section-header .documentation-section-header-image .svg-icon {
      fill: #ffffff;
      position: absolute;
      top: 50%;
      left: 50%;
      z-index: 1;
      width: 34px;
      height: 34px;
      margin-left: -17px;
      margin-top: -17px; }
  .documentation-section-header .documentation-section-header-text {
    flex: 1; }

.has-sub-items {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  border: 1px solid #efefef;
  border-top: none;
  font-weight: 400;
  font-style: normal;
  background-color: #ffffff;
  border-left: 0;
  border-right: 0; }
  .has-sub-items .sub-items-header {
    margin: 0;
    padding: 0.5rem;
    font-weight: 400;
    font-style: normal;
    font-size: 0.9375rem;
    line-height: 1.5;
    background-color: #f8f8f8;
    border-top: 1px solid #efefef; }
  .has-sub-items .sub-items a {
    position: relative;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0.5rem;
    font-size: 0.875rem;
    line-height: 1.5;
    color: #595959;
    background-color: #ffffff;
    border-top: 1px solid #efefef;
    cursor: pointer;
    color: #0079c1;
    text-decoration: none; }
    .has-sub-items .sub-items a:hover {
      background-color: #f8f8f8;
      text-decoration: none;
      color: #4c4c4c; }
    .has-sub-items .sub-items a.is-active {
      text-indent: -3px;
      border-left: 3px solid #0079c1; }
    .has-sub-items .sub-items a:hover {
      color: #005e95;
      text-decoration: underline; }

.core-concepts .documentation-section-header-image:before {
  background-color: #5a9359; }

.core-concepts .documentation-items .documentation-card {
  border-top: 3px solid #5a9359; }

.core-concepts .has-sub-items h3 {
  color: #5a9359; }

.rest .documentation-section-header-image:before {
  background-color: #7461a8; }

.rest .documentation-items .documentation-card {
  border-top: 3px solid #7461a8; }

.rest .has-sub-items h3 {
  color: #7461a8; }

.sdks .documentation-section-header-image:before {
  background-color: #e8912e; }

.sdks .documentation-items .documentation-card {
  border-top: 3px solid #e8912e; }

.sdks .has-sub-items h3 {
  color: #e8912e; }

.extend .documentation-section-header-image:before {
  background-color: #8c5e2a; }

.extend .documentation-items .documentation-card {
  border-top: 3px solid #8c5e2a; }

.extend .has-sub-items h3 {
  color: #8c5e2a; }

.documentation-card a:hover h4 {
  color: #ffffff; }

.documentation-sidebar {
  padding-left: 1rem; }
  @media screen and (max-width: 860px) {
    .documentation-sidebar {
      padding-left: 0.5rem; } }
