#esri-cookie-banner {
    font-family: "Avenir","Avenir Next";
    position: fixed;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99999;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    text-align: center;
    background-color: rgba(50,50,50,0.95);
    color:#fff;
    display: block !important;
    margin-bottom: 0px;
}
#esri-cookie-banner[data-position='top']{
    margin-top: 0px;
}
#esri-cookie-banner.hide{
    margin-bottom: -100px;
    visibility: hidden;
}
#esri-cookie-banner[data-position='top'].hide{
    margin-top: -100px;
    visibility: hidden;
}

#esri-cookie-banner .esri-cookie-banner__inner {
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0 20px;
    min-height: 64px;
    position: relative;
}
@media (min-width: 768px) {
    #esri-cookie-banner .esri-cookie-banner__inner {
        max-width: 95vw;
        width: auto;
        display: inline-block;
    }
}
#esri-cookie-banner[data-position='bottom']
{
    bottom:0;
    border-top: 1px solid #1f1f1f;
}
#esri-cookie-banner[data-position='top']{
    top:0;
    border-bottom: 1px solid #1f1f1f;
}
#esri-cookie-banner[data-theme='blue'][data-position='top']{
    background-color: rgba(0,121,193,0.95) !important;
    border-bottom: 1px solid #005e95;
}
#esri-cookie-banner[data-theme='blue'][data-position='bottom']{
    background-color: rgba(0,121,193,0.95) !important;
    border-top: 1px solid #005e95;
}
#esri-cookie-banner[data-theme='light'][data-position='top']{
    background-color: rgba(244, 244, 244, .95) !important;
    border-bottom: 1px solid #dedede;
}
#esri-cookie-banner[data-theme='light'][data-position='bottom']{
    background-color: rgba(244, 244, 244, .95) !important;
    border-top: 1px solid #dedede;
}


#esri-cookie-banner .esri-cookie-banner__inner-content {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    min-height: 64px;
    flex-wrap: wrap;
}
@media (min-width: 768px) {
    #esri-cookie-banner .esri-cookie-banner__inner-content {
        flex-wrap: nowrap;
    }
    #esri-cookie-banner .esri-cookie-banner__inner-content::after {
        display: block;
        content: "";
        width: 0;
        height:64px;
    }
}

#esri-cookie-banner .esri-cookie-banner__text-wrapper {
    position: relative;
    max-width: 100%;
    text-align: center;
    padding: 9px 12px;
    box-sizing: border-box;
    flex: 0 0 100%;
}
@media (min-width: 768px) {
    #esri-cookie-banner .esri-cookie-banner__text-wrapper {
        flex: 1;
        -ms-flex: 0 1 auto;
        margin-bottom: 0;
        text-align: left;
        padding: 4px 40px 4px 0;
    }   
}
@media (min-width: 1024px) {
    #esri-cookie-banner .esri-cookie-banner__text-wrapper {
        padding: 4px 80px 4px 0;
    }   
}


#esri-cookie-banner .esri-cookie-banner__text p{
    margin: 0;
    padding: 0;
    font-size: 12px;
    line-height: 16px;
    color: #efefef;
}
@media (min-width: 768px) {
    #esri-cookie-banner .esri-cookie-banner__text p{
        font-size: 16px;
        line-height: 19px;
    }
}
#esri-cookie-banner[data-theme='light'] .esri-cookie-banner__text p{
    color:#323232;
}
#esri-cookie-banner .esri-cookie-banner__text-link {
    color: #49b0f2 !important;
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 19px;
    text-decoration: none;
}
#esri-cookie-banner .esri-cookie-banner__text-link:hover {
    color: #74c6ff;
    text-decoration: underline;
}
#esri-cookie-banner[data-theme='blue'] .esri-cookie-banner__text-link {
    color: #ffffff !important;
}

#esri-cookie-banner .esri-cookie-banner__button-wrapper {
    text-align: center;
    flex: 0 0 100%;
    padding-bottom: 8px; 
}
@media (min-width: 768px) {
    #esri-cookie-banner .esri-cookie-banner__button-wrapper {
        white-space: nowrap;
        display: inline-block;
        flex: 0.1;
        -ms-flex: 0 1 auto;
        text-align: right;
        padding-bottom: 0px;
    }
}


#esri-cookie-banner .link {
    margin: 4px 15px;
    display: inline-block;
    color: #49b0f2 !important;
    font-size: 13px;
    line-height: 15px;
    padding: 0;
    text-decoration: none;
}
#esri-cookie-banner .link:hover {
    color: #74c6ff !important;
    text-decoration: underline;
}
@media (min-width: 768px) {
    #esri-cookie-banner .link {
        margin-right: 0 30px 0 0;
        font-size: 16px;
        line-height: 19px;
    }
}
#esri-cookie-banner[data-theme='blue'] .link{
    color: #ffffff !important;
}
#esri-cookie-banner[data-theme='light'] .link{
    color: #0079c1 !important;
}


#esri-cookie-banner .button {
    margin: 4px 15px 4px;
    display: inline-block;
    position: relative;
    display: inline-block;
    padding: 0.41rem 0.9rem;
    width: auto;
    border: 1px solid #0079c1 !important;
    background-color: #0079c1 !important;
    color: #ffffff  !important;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: all 0.05s linear;
    transition: all 0.05s linear;
    cursor: pointer;
    white-space: nowrap;
    font-size: 12px;
    line-height: 19px;
}
#esri-cookie-banner .button:hover {
    color: #74c6ff !important;
    text-decoration: none;
    background-color: #005e95 !important;
}
@media (min-width: 768px) {
    #esri-cookie-banner .button {
        font-size: 16px !important;
        line-height: 19px;
    }
}
#esri-cookie-banner[data-theme='blue'] .button {
    color: #323232 !important;
    background-color:rgba(255,255,255,0.75)  !important;
}
#esri-cookie-banner[data-theme='blue'] .button:hover  {
    background: #ffffff !important;
}
#esri-cookie-banner[data-theme='blue'] a {
    color: #ffffff !important;
}
#esri-cookie-banner[data-theme='light'] .button {
    color: #ffffff !important;
    background-color: #0079c1;
}
#esri-cookie-banner[data-theme='light'] .button:hover  {
    background: #005e95 !important;
}

#esri-cookie-banner a{
    cursor: pointer;
}

.esri-cookie-hidden {
    display:none !important; 
}