.panel h5 {
    font-size: 1rem;
}

/*.panel p {
    overflow: hidden;
}*/

.wintitle {
  font-weight: 700;
  font-style: italic;
}

.arcpyref  {
  font-weight: 700;
}

.shortcut {
    padding: 0 1px;
    text-decoration: none;
    text-transform: uppercase;
}
.usertext {
    white-space: normal;
}
.usertext:first-child {
    border-right: 0 none;
    padding-right: 0;
}
.usertext + .usertext {
    border-left: 0 none;
    border-right: 0 none;
    padding-left: 0;
    padding-right: 0;
}
pre {
    font-size: 0.875rem;
}
td .codeblock pre {
    max-width: 38em;
}
table .uicontrol {
    white-space: normal;
}
span.glossary {
    background-color: #ffffff;
    border-bottom: 1px dashed #2d7104;
    color: #2d7104;
}
span.glossary:hover {
    background-color: #2d7104;
    border-bottom: 1px dashed #ffffff;
    color: #ffffff;
}

.doc-platform-switcher .is-active{
    font-weight: 700;
}
.doc-platform-switcher .is-disabled{
    color: #cccccc;
	 cursor:text;
}
.doc-platform-switcher .is-disabled:hover{
	 cursor:text;
}

/*side by side and workflow image*/
figure.sidebyside.horizontal {
    display: block
}
figure.sidebyside.horizontal div {
    float: left;
    display: table
}
figure.sidebyside.horizontal div:first-child {
    margin-right: 1em
}
figure.sidebyside.horizontal div img {
    display: table-cell
}
figure.sidebyside.horizontal div figcaption {
    display: table-caption;
    caption-side: bottom
}
figure.sidebyside.horizontal::after {
    content: "";
    display: table;
    clear: both
}

figure.workflow-image {
    display:block;
    width: 70%;
    margin-bottom: 2em;
}

figure.workflow-image img{
    max-width: 100%;
}
figure.workflow-image div {
    display: inline-block;
    width: 30%;
    vertical-align: top;
    padding: 0.5em;
    box-sizing: border-box;
}

figcaption.fig-caption .workflowImgSteps {
    display: inline-block;
    background-color: #007ac2;
    height: 32px;
    width: 32px;
    color: #fff;
    line-height: 32px;
    border-radius: 16px;
    font-family: "Avenir LT W01 65 Medium";
    font-size: 15px;
    font-style: normal;
    text-align:center;
    vertical-align:middle;

    float:left;

}
figcaption.fig-caption .workflowDesc {
    display: block;
     margin-left: 40px;
}
.usertext {
    background-color: #f8f8f8;
    border: 1px solid #efefef;
    border-radius: 3px;
    color: #595959;
    font-family: "Consolas","Andale Mono","Lucida Console","Monaco","Courier New",Courier,monospace;
    font-size: 0.85em;
    padding: 0 0.15rem;
    white-space: normal;
}
.uicontrol {
  font-weight: 700; 
}
.qas .question p {
    font-weight: 600;
    margin-bottom: 0;
}

.panel :last-child {
  margin-bottom: 0 !important;
}

/** only apply to tables inside <main> for sanity **/
main table td,
main table td p,
main table td .usertext {
   word-break: break-word;
}

/* Fix for issue#3145*/
.stepresult :last-child {
  margin-bottom: 0 !important;
}