/**************************************导航栏头部***************************/
.header{
	width:100%;
	height: 80px;
	background: url('../images/col_0.png') 0px 0px no-repeat;
	background-size: 100% 100%;
	position: fixed;
	left: 0;
	top: 0;
	z-index: 9999;
}
.header .header-inner{
	width: 1100px;
	height: 100%;
	margin: 0 auto;
	position: relative;
	/*overflow: hidden;*/
}
.header .header-left{
	float: left;
	width:200px;
	height: 80px;
	/*border: 1px solid red;*/
}
.header .left-img{
	width:180px;
	height: 75px;
}
.header .header-con{
	float: left;
	width: 520px;
	height: 80px;
	margin: 0 auto;
	/*overflow: hidden;*/
}
.header .header-con ul{
	float: left;
	position: relative;
	margin: 4px;
	margin-top: 22px;
	margin-left: 10px;
}
.header .header-con .ul-ul{
	display:none;
	/*margin-top: 2px;*/
	position: absolute;
	left: -10px;
	top: 33px;
	background-color: #8AC6FF;
	margin:0px 4px 4px 4px;
	margin-left: 10px;
}
.header .header-con .ul-ul a{
	width: 90px;
	height: 32px;
	text-decoration: none;
}
.header .header-con ul li{
	text-align: center;
	line-height: 30px;
}
.header .header-con li:hover{
	background-color:#0068B7;
}
.header-con-hover{
	background-color:#0068B7;
}
.header .header-con li a{
	display: inline-block;
	width: 90px;
	height: 33px;
	color: #fff;
	font-size: 15px;
}
.ul-ul{
	background-color:#fff;
}
.ul-ul a{
	color: #0088CC;
}
.header a{
	color:#0088CC;
}
.header-con li:hover a{
	color: #fff;
}
.header .header-right{
	float: right;
	width: 420px;
	height: 80px;
	position: absolute;
	left:720px;
	top: 0px;
	/*position: relative;*/
}
/*.nav{
	height: 50px;
	background-color: #000;
}*/
.header-right .right-ul{
	width: 76px;
	height: 30px;
	margin-top: 22px;
	float: left;
}
.header-right .right-li{
	width:100%;
	height: 100%;
	padding-left:5px ;
	border: 2px solid #B8B8B8;
	border-right: none;
	line-height: 30px;
}
.header-right .right-li2{
	width:100%;
	height: 100%;
	display: none;
	padding-left:5px ;
	border-right: 2px solid #B8B8B8;
	border-left: 2px solid #B8B8B8;
	border-bottom: 2px solid #B8B8B8;
	line-height: 30px;
	background: #D7D7D7;
}
.header-right .right-span{
	float: right;
	border: 5px solid transparent;
	border-top:9px solid #000000;
	margin-top: 9px;
	margin-right: 6px;	
}
.header-right .right-input{
	width: 200px;
	height: 30px;
	margin-top: 22px;
	margin-left: 7px;
	border: none;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	/*border: 2px solid #B8B8B8;*/
	background: #fff;
	padding: 0;
	padding-left: 5px;
	border-r
}
.header-right .right-btn{
	/*width: 60px;*/
	height: 34px;
	background-color: transparent;
	color: #FFF;
	border:none;
	margin-left:50px;

	/*padding-left: 40px;*/
	/*padding-right: 4px;*/
}
.header-right .btn-hover-1{
	height: 34px;
	background-color: transparent;
	color: #FFF;
	border:none;
	margin-left:50px;
	padding-left: 40px;
	padding-right: 4px;
}
.header-right .btn-hover-1:hover{
	background-color:#0068B7;
}
.header-right .right-img{
	width: 40px;
	height: 30px;
	position: absolute;
	left: 210px;
	top: 22px;
}
.header-right .right-btn2{
	margin-left: -8px;
}
.header-right .right-btn3{
	position:relative;
}
.header-right .clo{
	display: none;
	width:130px;
	/*height: 100px;*/
	position: absolute;
	left: 266px;
	top: 54px ;
	background-color: #8AC6FF;
	/*background-color:#0068B7;*/

}
.clo .clo-li{
/*	padding-left: 20px;*/
	height: 36px;
	line-height: 36px;
	text-align:center;
	cursor: pointer;
}
.clo .clo-li:hover{
	background-color: #0068B7;
	text-decoration: none;
	color:#fff;
}

/**********************************pc端页脚*****************************/
.footer{
	width: 100%;
	height: 320px;
	/*position: absolute;
	top: 746px;*/
	background-color:#DCDCDC ;
}
.footer .fot-con{
	width:1100px;
	/*height:100%;*/
	margin: 0 auto;
	overflow: hidden;
	background-color:#DCDCDC ;
}
.footer .fot-ul{
	width: 25%;
	/*text-align: center;*/
	float: left;
	color: #323232;
	font-size: 12px;
	margin-top: 15px;
}
.fot-ul li{
	margin-top:12px;
}
.footer .ul-li{
	color: #000000;
	/*font-weight: 700;*/
	font-weight: bold;
	
}
.footer .fot-ul:nth-child(2){
	padding-left: 22px;
	box-sizing: border-box;
}
.footer .fot-ul:nth-child(3){
	padding-left: 50px;
	box-sizing: border-box;
}
.footer .fot-ul:nth-child(4){
	padding-left: 60px;
	box-sizing: border-box;
}
.fot-con .fot-img{
	width: 180px;
	height:75px;
	display: block;
	margin: 180px auto 20px;
}
.fot-con .fot-h{
	text-align: center;
	color: #323232;
	font-size: 14px;
}
.div{
	width: 100%;
	height: 1000px;
	background-color: red;
}
