/* BASICS */
body {
	text-rendering: optimizeLegibility;
	}
}
a {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;	
}	
	
p	{
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	}
	
h1 {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
 	font-size:11px;
	line-height:21px;
	font-weight:bold;
	padding:10px 00px 00px 00px;
	}			

pre {
    white-space: pre-wrap;       /* CSS 3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
	
/* LAYOUT */

.Frame {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
 	font-size:11px;
	line-height:21px;
	border-bottom:2px solid #CCC;	 								 	
	border-right:1px solid #666;	 								 	
	border-left:1px solid #666;
	border-top:1px solid #666;
	margin:auto;	
	width:757px; /* for IE */ 
	}
html>body .Frame {
  	width:755px; /* for everyone else */
	}

.Frame_alt {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
 	font-size:11px;
	line-height:21px;
	border-bottom:2px solid #CCC;	 								 	
	border-right:1px solid #666;	 								 	
	border-left:1px solid #666;
	border-top:1px solid #666;
	margin-left: 50px;
	margin-right: 50px;
	}

.Frame_wide {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
 	font-size:11px;
	line-height:21px;
	}
				
.Style {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
 	font-size:11px;
	line-height:21px;
	}
	
.Header {
	padding:03px 03px 03px 03px;
	margin:00px 00px 03px 00px;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	text-align:right;
	}

.LeftColumn {
	width:155px;
	padding:00px;
	margin:00px;
	border-right:1px solid #CCC;
	background-color:#FFF;		 								 		
	}
	
.Content {
	padding:10px;
	margin:00px;
	}
	
.Footer {
	padding:00px;
	width:755px;
	margin:auto;
	color:#666;
	background-color:#FFF;
	border-top:1px solid #CCC; 					
	border-bottom:1px solid #666; 					
	}

.Footer_alt {
	padding:00px;
	margin-left: 50px;
	margin-right: 50px;
	color:#666;
	background-color:#FFF;
	border-top:1px solid #CCC; 					
	border-bottom:1px solid #666; 					
	}

.Footer a:link, .Footer a:visited {
	text-decoration:none;
	}
	
.funding {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
 	font-size:10px;
	line-height:21px;
	letter-spacing:0px;
	text-align:center;
	color:#666;
	}
	
/* CLASSES */

.Select {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:12px;
	}
		
.image {
	padding:7px;
	border:1px solid #CCC;
	background-color:#FFF;
	}	
	
.Acro	{
	padding:5px 5px 5px 5px;
	margin:00px 00px 0px 00px;
	border:1px solid #CCC;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:18px;
	text-align:center;
	background-color:#777;
	}	
	
.PageContent {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:18px;	
	}
	
.PageContentCell {
	padding:10px;
	border-top:1px solid #CCC;
	background-color: #FFF;										
	}	

.PageContentCellAdmin {
	padding:10px;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:18px; 
	border-top:2px solid #CCC;
	background-color: #ddd;				
	}	

.PageTitle {
	padding:25px 15px 0px 15px;
	text-align:right;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:21px;	
	letter-spacing:-1px;
	font-weight:normal;
	line-height:25px;	
	color:#FFF;
	background-color:#000;
	}		

.PageTitle_Index {
	padding:5px 15px 0px 15px;
	text-align:right;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:18px;	
	line-height:25px;	
	color:#FFF;
	background-color:#000;
	}	
	
.PageTitleCell {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:18px;
	background-color:#000;
/*	border-top:1px solid #FFF; */ 
/*	border-right:2px solid #CCC;	*/ 	
/*	border-bottom:1px solid #CCC;	*/
	}

.NavSection {
	border-top:1px solid #CCC;	
	border-bottom:1px solid #CCC;
	background-color:#eee;
	padding-top:4px;	
	width:155px;		
	}	
	
.NavButton {
	line-height:25px;
/*	border-top:1px solid #FFF; 
	border-bottom:1px solid #CCC; */ 
	padding:0px 0px 0px 10px;
	color:#333;	
	}

.NavButtonPlus {
	line-height:25px;
	border-left:0px solid #CCC;  
	padding:0px 0px 0px 10px;
	color:#333;
	}
		
.NavSectionCell {
	padding:0px 0px 0px 0px;
/*	border-top:0px solid #FFF; */ 
	border-right:2px solid #CCC;	
	border-left:0px solid #CCC;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:18px;			
	}		

.SubNavButton {
	line-height:18px;
	padding:0px 0px 5px 10px;
	text-transform:none;
	}
	
.EndNav {
	border-top:2px double #ddd; 
	}
	
.NavButton a:link, .NavButton a:visited, .SubNavButton a:link, .SubNavButton a:visited, .NavButtonPlus a:link, .NavButtonPlus a:visited {
	text-decoration:none;
	}
	
.AdminLink	{
	line-height:15px;
	width:10px;
	float:right;
	text-align:right;
	background-color:#DDD;
	margin-right:05px;
	padding:00px 03px 0px 03px;
	text-transform:none;
	border-top:1px solid #FFF;
	border-right:1px solid #BBB;	
	border-bottom:1px solid #BBB;
	border-left:1px solid #FFF;		
	}	

.AdditionalAdminLink	{
	line-height:25px;
	text-align:left;
	background-color:#DDD;
	padding:0px 0px 0px 10px;
	text-transform:uppercase;
	border-top:1px solid #FFF;
	border-bottom:1px solid #BBB;	
	}

.AdditionalAdminLink a:link, .AdditionalAdminLink a:visited {
	text-decoration:none;
	}			

.SmallAdminLink	{
	line-height:25px;
	text-align:left;
	padding:0px 0px 0px 10px;	
	}
				
.PageMenu {
	border-bottom:0px solid #ccc;			
	}

.EditCategory {
	color:#50525f;
	font-family:Verdana;
	font-size:11px;
	line-height:18px;
	padding:05px 00px 05px 00px;	 	
	}
	
.Table {
	font-family:Verdana;
	font-size:11px;
	line-height:18px; 
	}

td {
	font-family:Verdana;
	font-size:11px;
	line-height:18px; 
	}
	
.TableHeader {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:10px;
	border-bottom:1px solid #BBB;
	padding:03px 00px 03px 00px; 
	background-color:#eee;
	color:#333;
	letter-spacing:0px;
	text-align:center;
	text-transform:uppercase;	 
	}

.TableHeader2 {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:10px;
	border-right:1px solid #50525f;
	padding:03px 00px 03px 00px; 
	background-color:#eee;
	color:#333;
	letter-spacing:0px;
	text-align:center;
	text-transform:uppercase;	 
	}
	
.TableHeader3 {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:9px;
	line-height:9px;
	padding:03px; 
	background-color:#eee;
	color:#333;
	text-align:center;
	text-transform:uppercase;	 
	border-bottom:1px solid #BBB;
	}	
	
.TableHeader4 {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	padding:03px; 
	background-color:#CCC;
	color:#333;
	text-align:left;
	border-bottom:1px solid #BBB;
	}		
	
.TableButton {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	border-top:1px solid #FFF;
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;	
	border-left:1px solid #FFF;
	padding:05px;
	background-color:#CCC;
	color:#333;
	letter-spacing:0px;
	text-align:center;
	text-transform:uppercase;	 
	}

.TableButton2 {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	border-top:1px solid #FFF;
	border-right:1px solid #BBB;
	border-bottom:1px solid #BBB;	
	border-left:1px solid #FFF;
	padding:05px;
	background-color:#DDD;
	color:#333;
	letter-spacing:0px;
	text-align:center;
	text-transform:uppercase;	 
	}

.TableWidget {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	padding:05px;
	background-color:#CCC;
	color:#333;
	letter-spacing:0px;
	text-align:center;
	text-transform:uppercase;	 
	}
				
.TableData {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	border-bottom:1px solid #ccc;
	padding:05px 00px 00px 00px; 
	}

.TableData3 {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:10px;
	line-height:12px;
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:01px 01px 01px 01px; 
	}
	
.TableData_small {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:10px;
	border-bottom:1px solid #ccc;
	border-right:1px solid #ccc;
	padding:00px 03px 00px 03px; 
	}
	
.Style {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	}
	
.caption {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:10px;
	line-height:21px;
	color:#777;
	}

.PrintLink {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:10px;
	line-height:21px;
	color:#777;
	text-align:right;
}		

.StatusMessage {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	border-top:1px solid #FFF;
	border-right:1px solid #AAA;
	border-bottom:1px solid #AAA;	
	border-left:1px solid #FFF;
	padding:05px;
	background-color:#CCC;
	color:#333;
	letter-spacing:0px;
	text-align:center;
	text-transform:uppercase;	 
	}	
	
/* MODULES */

.SectionDescription {
	color:gray;
	}

.Gray {
	color:gray;
	}	
	
.LinkTitle {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	font-weight:bold;
	padding:00px 10px 00px 00px;
	}
	
.LinkDescription {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	border-left:0px solid #CCC;	
	padding:00px 10px 00px 00px;
	}

.Divider {
	padding:5px 5px 5px 5px;
	border:0px solid #e8e8e8;
	}
	
.Group {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:12px;
	line-height:21px;
	font-weight:bold;
	padding:15px 00px 00px 00px;
	}
	
.Question {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	font-weight:bold;
	padding:15px 00px 00px 00px;
	}
	
.Answer {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	border-left:0px solid #CCC;	
	padding:00px 00px 00px 10px;
	}
	
.People {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	}	

.Heading {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:14px;
	letter-spacing:-1px;
	line-height:21px;
	font-weight:normal;
	padding:10px 00px 00px 00px;
	}
		
.NewsDate {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	color:#777;
	text-align:right; 
	width:150px;
	float:right;
	display:block;
	}	
	
.NewsDate-Alt {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	color:#777;
	text-align:left; 
	width:150px;
	}
			
.NewsHeadline {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:14px;
	line-height:21px;
	font-weight:bold;
	}	

.NewsHeadline-sm {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:12px;
	line-height:21px;
	font-weight:bold;
	}
							
.Entry {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	border-bottom:0px solid #CCC;	
	padding:00px 00px 00px 00px;
	}	
	
.SoftwareTitle {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	font-weight:bold;
	}	
	
.SoftwareDescription {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	border-bottom:0px solid #CCC;	
	padding:00px 00px 00px 00px;
	}	
							
.Download {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:11px; 
	border:0px solid #CCC;	
	padding:15px 5px 5px 5px;
	text-align:center;
	}		

 a.download-link {
	text-decoration:none;
	font-weight:bold;
	background:#444;
	padding:5px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	color:#EEE !important;
	}

a.download-link:hover {
	background:#333;
	color:#FFF !important;
	}
	
 a.license {
	text-decoration:none;
	padding:5px;
	}
	
.note	{
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	padding:5px 5px 5px 5px;
	text-align:right;	
	}		

.error {
	color:red;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	padding:5px 5px 5px 5px;
	margin:0px 0px 10px 0px;
	border-bottom:1px solid red;	
	}	
	
.result {
	color:gray;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	padding:5px 5px 5px 5px;
	margin:0px 0px 10px 0px;
	border-bottom:1px solid gray;	
	}
	
.SubLevel {
	padding:0px 5px 5px 0px;
	border-bottom:0px solid #CCC;
	font-family:Times;
	font-size:18px;
	}
	
.SubLevelDescription {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px; 
	border-bottom:0px solid #CCC;	
	padding:00px 00px 00px 00px;
	}

.ItemTitle {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;	
	font-weight:bold;
	font-weight:14px;
	padding:10px 0px 0px 0px;
	}

.ItemContent {
	}						
	
.fine, .fine a:link, .fine a:visited {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:10px;
	line-height:21px; 
	color:gray;
	}

.fine-heading {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	letter-spacing:-1px;
	font-size:16px;
	line-height:21px; 
	color:gray;	
	border-bottom:1px solid gray;
	margin-top:25px;
}
.small {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:10px;
	line-height:21px; 
	}
	
.upload {
	float:right;
	}			
	
.control {
	line-height:25px;
	border-top:1px solid #CCC; 
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC; 
	border-left:1px solid #CCC; 		  
	padding:0px 0px 0px 10px;
	color:#333;	
	background:#FFF;
	}	
	
.message {
	line-height:25px;
	border-top:1px solid #FFF; 
	border-bottom:1px solid #CCC;
	border-right:1px solid #CCC; 
	border-left:1px solid #CCC; 		  
	padding:0px 0px 0px 10px;
	color:#FFF;
	background-color:#50525e;
	}	
	
.TabActive {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	border-top:1px solid #50525f;
	border-left:1px solid #50525f;
	border-right:1px solid #50525f;
	padding:03px 00px 03px 00px; 
	background-color:#FFF;
	color:#333;
	letter-spacing:0px;
	text-align:center;
	font-weight:bold;
	}

.TabInactive {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;
	font-size:11px;
	line-height:21px;
	border:1px solid #50525f;
	padding:03px 00px 03px 00px; 
	background-color:#eee;
	color:#333;
	letter-spacing:0px;
	text-align:center;
	}	
	
.input_wide {
	display: block;
	width: 250px;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	}

.input_small {
	display: block;
	width: 120px;
	float: left;
	margin-bottom: 10px;
	margin-top: 10px;
	}

label {
	float: left;
	text-align: right;
	width: 100px;
	padding-right: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	}

.notes {
	color:gray;

	}

.NavSection, .NavButton {
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;	
}

.poster_box {
	padding:10px;
	background:#EEE;
	margin-bottom:10px;
	font-family: Helvetica, Arial,"Lucida Grande", Verdana, Geneva, Lucida, sans-serif;	
	font-size: 12px;
}

.poster_box img {
	margin-right:10px;
}

.poster_box a {
	font-weight:bold;
}


.project_alumni {
	display: block;
	height:50px;
	width: 280px;
	float: left;
	margin-bottom:10px;
	border:0px solid #eee;
	}
.project_alumni img {
	margin-right:5px;
}	

.entry {
	padding:10px;
	}

.pager {
	display: block;
	text-align: center;
	height:20px;
	background-color: #eee;
	padding:10px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;	
	margin-top:20px;
	margin-bottom:20px;
	}

.pager a.next {
	float:right;
	}

.pager a.prev {
	float:left;
	}