.coupon_dialog_jf{position:fixed;width:400px;margin:-160px 0 0 -200px;top:30%;left:50%;border:1px solid red;background-color:white;font-family:"宋体",Arial;z-index:99999}
.coupon_dialog_jf>hr{margin:8px}
.coupon_dialog_jf>.header{height:64px;background:url(images/quan.jpg) no-repeat}
.coupon_dialog_jf>.header>.close{height:18px;width:18px;float:right;margin-top:23px;margin-right:23px;cursor:pointer;background:url(images/close.png) no-repeat}
.coupon_dialog_jf>.header:after{clear:both;content:" ";display:block}
.coupon_dialog_jf>.header>.title{float:left;font-weight:bold}
.coupon_dialog_jf>.content{padding:40px 10px;color:#404040;font-size:14px;text-align:center}
.coupon_dialog_jf>.content .input_kuang{width:100px;outline:0;height:34px;line-height:34px;vertical-align:middle;padding-left:16px;border:1px solid #e6e6e6;font-size:16px}
.coupon_dialog_jf>.content .input_kuang.error{border:1px solid #ff4545}
.coupon_dialog_jf>.content .button{width:104px;cursor:pointer;height:36px;background:#ff4545;display:inline-block;border:0;border-radius:5px;line-height:34px;text-align:center;text-decoration:none;color:#fff;font:16px "Microsoft YaHei"}
.coupon_dialog_jf>.content .button{*display:inline;*zoom:1}
.coupon_dialog_jf>.content .button>span{line-height:36px}
.coupon_dialog_jf>.content .input-div{text-align:left}
.coupon_dialog_jf>.content .input_yzm{display:inline-block;width:100px;text-align:right}
.coupon_dialog_jf .coupon_vcode{margin:10px 0 0 105px;width:100px}
.coupon_dialog_jf>.content .change{font-size:14px;height:56px;color:#1a66b3;text-decoration:none}
.coupon_dialog_jf>.content>iframe{border:0;width:100%;height:100px}
.coupon_dialog_jf>.content p a{color:#00e;text-decoration:none}
.coupon_dialog_jf>.content p a:hover{text-decoration:underline}
.coupon_dialog_jf>.footer{padding:10px 20px 20px 20px}
.coupon_dialog_jf>.footer:after{content:" ";display:block;clear:both}
.coupon_dialog_jf>.footer>button{float:right;margin-left:10px;padding:4px 8px;background-color:#ff4545;color:white;font-size:16px;border:0;cursor:pointer}
.coupon_dialog_jf .vcode_tip{margin-left:105px;color:red}
.coupon_dialog_mask{height:100%;width:100%;background-color:rgba(1,1,1,.3);position:fixed;top:0;left:0}
.coupon_dialog_jf .comfire_text_wrap{text-align:left;margin-top:-20px}
.comfire_text_wrap .comfire_text{margin-left:50px;margin-top:10px;font-size:14px}
.comfire_text_wrap .comfire_button{text-align:center;margin-top:20px}
.coupon_dialog_jf .comfire_button .comfire{margin-right:20px}
.coupon_dialog_jf .comfire_button .cancel{background-color:#f1f1f1;border:1px solid #363636;color:#333}
.verification_list_btn a,.verification_list_btn a:hover,.ver_ok,.ver_error,.success_box span,.security_info,.security_info a,.security_info a:hover,.verification_btn,.verification_btn:hover,.verification_btn span,.verification_btn:hover span,.verification_btn_none,.verification_btn_none:hover,.verification_btn_none span,.verification_btn_none:hover span,.success_pop_btn a,.success_pop_btn a:hover,.security_center_success .pop_icon,.verification_list_btn .ver_send03 span,.verification_list_btn .ver_send03:hover span,.verification_btn input,.verification_btn_none input{background-image:url(images/security_center_sprite.png);background-repeat:no-repeat}
.account_right{float:left;padding-left:10px;width:780px;color:#404040;font:12px "\5b8b\4f53";position:relative}
.account_right a{color:#1a66b3;text-decoration:none}
.account_right a:hover{color:#1a66b3;text-decoration:underline}
.account_right h4,.account_right h5{font-size:14px;font-weight:bold;border-bottom:1px solid #a4d7ca;height:34px;padding:6px 0 0 10px;line-height:34px;margin-bottom:7px}

.verification_list{height:25px;line-height:25px;overflow:hidden;padding-top:23px}
.verification_list label{float:left;width:264px;padding:2px 14px 0 0;text-align:right;font:14px/20px "\5fae\8f6f\96c5\9ed1"}
.verification_list .ver_fillin{float:left;width:173px;height:23px;line-height:23px;margin:0;padding:0 0 0 5px;border:1px solid #7f9db9;background-color:#fff}
.ver_fillin_noborder{border:1px solid #c6c6c6!important;background-color:#f2f2f2!important}
.ver_fillin_error{border:1px solid #ff4545!important}
.verification_btn,.verification_btn:hover{float:left;height:21px;padding:0!important;line-height:21px;margin:2px 0 0 7px;font-size:12px;overflow:hidden;text-decoration:none!important;color:#666!important;background-position:right -515px;cursor:pointer;border:0}
.verification_btn span,.verification_btn:hover span,.verification_btn input,.verification_btn:hover input{display:inline-block;background-position:0 -490px;padding:1px 7px 0;height:20px}
.verification_btn input,.verification_btn:hover input{border:0;height:21px;background-color:transparent;background-repeat:no-repeat;cursor:pointer;*padding:1px 0 0;*width:130px}
.verification_btn_none,.verification_btn_none:hover{background-position:right -625px;color:#9e9e9e!important;cursor:default!important}
.verification_btn_none span,.verification_btn_none:hover span,.verification_btn_none input,.verification_btn_none:hover input{background-position:0 -600px;color:#9e9e9e!important;cursor:default}
.verification_btn:hover,.input_hover input{color:#1a66b3!important}
.verification_btn_uphold,.verification_btn_uphold:hover{color:#666!important}
.verification_list .ver_hint{float:left;color:#9e9e9e;padding:0 0 0 7px}
.verification_list_btn{padding:30px 0 0 275px}.verification_list_btn a,.verification_list_btn a:hover{display:block;overflow:hidden;height:35px;font-size:0;line-height:105px}
.ver_bottom_hint{position:absolute;top:349px;width:780px;color:#969696;line-height:22px;border-top:1px solid #e1e1e1}
.ver_bottom_hint .title{font-weight:bold;padding:9px 0 4px}
.verification_list .ver_ok{float:left;color:#9e9e9e;padding:0 0 0 28px;background-position:7px -73px}
.verification_list .ver_error,.verification_btn02 .ver_error{float:left;color:#f40000;margin:0 0 0 5px;height:22px;line-height:23px;overflow:hidden;border:1px solid #ffb8b8;background-color:#fef2f2;padding:1px 5px 0 25px;background-position:3px -103px}
.verification_btn02 .ver_error{margin:3px 0 0 10px;white-space:nowrap;display:inline-block;float:none}
.graphical_code{height:52px;padding:10px 0 0 278px;white-space:nowrap}
.graphical_code img{float:left;border:1px solid #e2e2e2}
.graphical_code .ver_hint{float:left;color:#9e9e9e;padding:22px 0 0 7px}
.graphical_code a,.graphical_code a:hover{float:left;padding-top:22px}
.security_welcome{color:#666;padding:23px 0 16px 29px}

.verification_list_btn .ver_next{width:146px;background-position:0 0}
.verification_list_btn .ver_next:hover{width:146px;background-position:0 -35px}
.verification_list_btn .ver_complete{width:146px;background-position:0 -280px}
.verification_list_btn .ver_complete:hover{width:146px;background-position:0 -315px}
.verification_list_btn .ver_send{width:146px;background-position:0 -350px}
.verification_list_btn .ver_send:hover{width:146px;background-position:0 -385px}
.verification_list_btn .ver_send02{width:183px;background-position:0 -420px}
.verification_list_btn .ver_send02:hover{width:183px;background-position:0 -455px}
.verification_list_btn .ver_send03,.verification_list_btn .ver_send03:hover{width:auto;background-position:right -785px;color:#949496;font:18px/35px "\9ED1\4F53";text-decoration:none;cursor:default;float:left;margin-left:3px}
.verification_list_btn .ver_send03 span,.verification_list_btn .ver_send03:hover span{display:inline-block;background-position:left -750px;padding:0 17px;height:34px;padding-top:1px}
.verification_list02{padding:66px 0 25px}.verification_list02 label{width:294px}
.verification_list03{padding:7px 0 0 323px;position:relative;overflow:visible}
.verification_list03 .ver_ok{padding-left:26px;background-position:5px -73px}
.verification_list03 .ver_ok a,.verification_list03 .ver_ok a:hover{float:none}
.verification_btn02{padding:0 0 0 305px}.verification_list .ver_text{float:left;font:14px/25px "\5fae\8f6f\96c5\9ed1";padding-right:10px}
.verification_list02 a,.verification_list02 a:hover{float:left;padding:2px 0 0 18px;line-height:25px}
.verification_list a,.verification_list a:hover{float:left;padding-left:7px}

.success_box{text-align:center;vertical-align:top;padding:44px 0 34px;position:relative}
.success_box .coupon{color:#ec7800;font-family:"microsoft YaHei";font-size:14px;margin-left:64px;text-align:left;_margin-left:58px}
.success_box .coupon b{font-family:arial}.success_box .coupon a{top:-2px;font:12px "\5b8b\4f53";vertical-align:middle}
.success_box .rule_tips a{top:10px;font:12px "\5b8b\4f53";vertical-align:middle;left:121px}
.success_box span{display:inline-block;font:20px "\5fae\8f6f\96c5\9ed1";height:49px;padding:5px 0 0 58px;background-position:0 -130px}
.success_box a{display:inline-block;margin-left:23px;top:12px;position:relative;vertical-align:top}
.security_registration{width:730px;padding:27px 24px 30px;border:1px solid #d6eee8;background-color:#f6fef8}
.security_registration .title{padding-left:20px;margin-bottom:24px}
.security_registration .title b{color:#f33;font-size:14px;font-weight:bold}
.security_registration .title b.mid{color:#f60}.security_info{border:1px solid #f1f9f3;background-color:#fff;padding:0 0 0 57px;height:60px;line-height:60px;background-position:20px -190px;font-size:14px;font-weight:bold;position:relative}
.security_info02{border-top:0;margin-top:-1px}.security_info span{color:#969696;font-size:12px;font-weight:normal;padding-left:60px}
.security_info a,.security_info a:hover{position:absolute;right:27px;top:15px;background-position:0 -250px;width:57px;height:30px;line-height:30px;line-height:32px\9;color:#fff;text-align:center;font-size:12px;font-weight:bold;text-decoration:none;overflow:hidden}
.security_info a:hover{background-position:-95px -250px}
.success_box02{padding-top:96px;position:relative}
.security_info .security_info02_line{display:block;position:absolute;top:0;left:15px;width:700px;border-bottom:1px dashed #ededed;height:1px;line-height:0;overflow:hidden;padding:0}
.msg_level{float:left;overflow:hidden;margin:5px 0 0 0;font-size:12px;color:#9e9e9e}
.msg_level span{background-color:#b9b9b9;color:#fff;display:inline-block;height:13px;line-height:15px;margin-left:1px;text-align:center;width:42px;overflow:hidden}
.msg_level .s1{background-color:#ffc6a0}.msg_level .s2{background-color:#ffa568}
.msg_level .s3{background-color:#ff8e42}.verification_list03 .pop_delta,.success_box .pop_delta{display:inline-block;position:absolute;left:428px;top:38px;border:1px solid #ffdd9a;background-color:#fff6d4;color:#f60;height:27px;line-height:27px;padding:1px 10px 0;font-weight:bold;white-space:nowrap}
.verification_list03 .pop_delta i,.success_box .pop_delta i{font:12px "\5b8b\4f53";position:absolute;left:33px;display:inline-block;height:6px;overflow:hidden}
.verification_list03 .pop_delta i.delta01,.success_box .pop_delta i.delta01{color:#ffdd9a;top:-6px}
.verification_list03 .pop_delta i.delta02,.success_box .pop_delta i.delta02{color:#fff6d4;top:-5px}
.success_box .pop_delta{left:294px;top:83px;font-size:12px;background-image:none}
.success_box .pop_delta i{left:57px}.security_center_pop{width:468px;border:1px solid #ddd;background-color:#fff;position:relative}

.security_center_pop h3{height:50px;line-height:50px;padding-top:18px;color:#fff;text-align:center;font:21px "\5fae\8f6f\96c5\9ed1";overflow:hidden}
.security_center_pop h3 a{display:block;position:absolute;top:19px;right:16px;width:19px;height:19px;font-size:0;line-height:57px;overflow:hidden}
.security_center_info{padding-top:30px}.security_center_info p{padding:0 10px;overflow:hidden}
.security_center_info p label{float:left;width:138px;text-align:right;padding:4px 2px 0 0;font-family:'microsoft yahei'}
.security_center_info p select{float:left;width:178px;font-size:12px;height:23px;border:1px solid #7f9db9}
.security_center_info p.pop_list{height:30px;padding:6px 0 0 140px}
.security_center_info p.clearfix{height:21px;padding:4px 0 10px 140px}
.security_center_info p.pop_list_btn{height:auto;padding:0 0 0 140px}
.security_center_info p.graphical_code{height:auto;padding:6px 0 0 140px}
.security_center_info p .verification_btn,.security_center_info p .verification_btn:hover{margin:0}
.security_center_info p .ver_hint{color:#9e9e9e}.security_center_info p .ver_fillin{float:left;width:175px;padding-left:3px;height:23px;background-color:#fff;line-height:23px;border:1px solid #7f9db9}
.security_center_info p .btn_determine{display:block;width:105px;height:36px;overflow:hidden;font-size:15px;border:0;cursor:pointer;background:#ff4545;color:#fff;border-radius:5px;letter-spacing:5px}
.security_center_info p .btn_determine:hover{background:#ff2832;color:#fff}
.security_center_pop .ver_ok{float:left;line-height:25px;float:left;color:#9e9e9e;padding:0 0 0 32px;background-position:10px -73px}
.security_center_pop .pop_list .ver_ok{line-height:21px;background-position:10px -75px;white-space:nowrap}
.security_center_pop .pop_list .ver_ok02{background-position:0 -75px;padding-left:22px}
.security_center_pop .ver_error{display:inline-block;color:#f40000;height:22px;line-height:23px;overflow:hidden;border:1px solid #ffb8b8;background-color:#fef2f2;padding:1px 5px 0 25px;background-position:3px -103px}
.security_center_pop .ver_text{float:left;font:bold 12px Arial;width:106px;padding-top:4px;padding-top:3px\9}
.security_bottom_hint{width:452px;border-top:1px solid #e1e1e1;margin:22px auto 0;color:#969696;line-height:22px;padding:9px 0}
.security_bottom_hint p{width:456px;margin:0 -2px}
.security_center_success{height:165px;text-align:center;padding:45px 0 0}
.security_center_success .pop_icon_none{font:14px/25px "\5fae\8f6f\96c5\9ed1";display:block;margin-bottom:39px}

.success_pop_btn a,.success_pop_btn a:hover{display:inline-block;width:98px;height:25px;overflow:hidden;line-height:75px;font-size:0;margin:0 34px}
.success_pop_btn a.success_pop_btn_sz{background-position:0 -650px}
.success_pop_btn a.success_pop_btn_sz:hover{background-position:-98px -650px}
.success_pop_btn a.success_pop_btn_bd{background-position:0 -675px}
.success_pop_btn a.success_pop_btn_bd:hover{background-position:-98px -675px}
.success_pop_btn a.success_pop_btn_lj{background-position:0 -700px}
.success_pop_btn a.success_pop_btn_lj:hover{background-position:-98px -700px}
.success_pop_btn a.success_pop_btn_yh{background-position:0 -725px}
.success_pop_btn a.success_pop_btn_yh:hover{background-position:-98px -725px}
.security_center_success .pop_icon{background-position:0 -130px;font:18px/25px "\5fae\8f6f\96c5\9ed1";display:inline-block;padding:6px 0 0 50px;height:48px}
.security_center_success .pop_back,.security_center_success .pop_back:hover{display:block;padding:12px 57px 0 0}
.ccservice{background:url(images/security_center_sprite.png) 0 -820px no-repeat;font:14px/25px "\5fae\8f6f\96c5\9ed1";padding:5px 0 0 60px;width:350px;margin:100px auto}
.account_right h5{border-bottom:none 0}.m_b{margin-bottom:10px}
.separate_p{padding-left:60px}.security_registration .title em{background:url(images/security_bg02.png) repeat-x;display:inline-block;height:18px;vertical-align:text-bottom}

.security_registration .title .secu_bg{background-position:0 -54px;margin:0 10px;width:408px}
.security_registration .yellow em{background-position:0 -18px}
.security_registration .yellow b{color:#f60}.security_registration .green em{background-position:0 -36px}
.security_registration .green b{color:#396}.security_registration .warn{background-image:none;padding:10px 0 10px 25px;height:auto;line-height:22px}
.security_registration .warn span{display:block;position:relative;padding-left:160px;_width:540px;_margin:-27px 0 27px}
.security_registration .warn .warn_num{padding:8px 0 0;color:#404040;float:left;_margin:0}
.security_registration .warn .warn_num i,.history_num em{color:#fd6800;font-style:normal;padding:0 5px;font-weight:bold}
.security_registration .warn .warn_name{padding:8px 0 0;color:#404040;_display:block;_margin:0}
.security_registration .warn .warn_name img{vertical-align:text-bottom;margin-right:10px}
.security_list{padding:0 25px;border:1px solid #ddd;margin-top:10px}
.security_list .title{font:bold 14px/30px "宋体";color:#57a28a;border-bottom:1px solid #a5d8cc;position:relative}
.security_list .title span{border:solid #a5d8cc;border-width:3px 3px 0;display:block;height:30px;width:86px;text-align:center;background-color:#fff;position:relative;bottom:-1px}
.security_list .security_info{border:dotted #eaeaea;border-width:0 0 1px;height:58px;line-height:58px}
.security_list .security_info a.normal,.security_list .security_info .normal:hover{background:0;font:normal 12px/30px "宋体";color:#1a66b3}
.security_list .correct_info{background-position:20px -902px}
.security_list .security_info02{border-bottom:none 0;margin:0 0 10px 0}
.security_list .classroom{padding:20px 0;height:205px}
.security_list .classroom dl{background-color:#f6fef8;border:1px solid #e8fbf6;width:213px;padding:10px;margin-right:10px;float:left}
.security_list .classroom dl dt{width:210px;height:90px;border:1px solid #ececec;background-color:#fff;margin-bottom:5px}
.security_list .classroom a{color:#404040;line-height:28px}

.history_num{padding:0 0 0 10px}.history{width:780px;margin:15px 0 0}
.history li{height:30px;line-height:30px;border-bottom:1px solid #e9e9e9}
.history .c_hover{background-color:#f4f4f4}.history span{text-align:center;width:156px;display:inline-block}
.history li.thead{color:#5aa18f;border:solid #a4d7ca;border-width:1px 0;padding:8px 0;line-height:14px;height:14px}
.history li.thead:hover{background-color:#fff}.history li.thead span{border-right:1px solid #a4d7ca;height:14px;width:155px}

.phone_attach .phone_attach_tips{line-height:18px;color:#f40000;padding:0 14px 10px 22px;height:auto}
.phone_attach .phone_attach_login{height:26px;line-height:26px;color:#9e9e9e;padding-left:10px;overflow:hidden}
.phone_attach p label{width:110px}.phone_attach p.graphical_code{padding-left:110px}
.phone_attach p.pop_list{padding-left:110px}.phone_attach p.pop_list_btn{padding-left:110px}

.security_center_pop h3 a{background:url(images/close.png) repeat-x}
.security_center_pop{background:url(images/quan.jpg) repeat-x;background-color:#fff}

.purchase_wrap.coupon_dialog_jf{width:450px}.purchase_wrap .content{padding:40px 10px 40px}
.purchase_wrap .comfire_text{margin-left:0;margin-top:5px;font-family:"宋体";font-size:14px;line-height:26px;text-align:center}
.comfire_text_wrap.purchase .comfire_a{color:#1a66b3;text-decoration:none}
.purchase_wrap .coupon_title{height:64px;float:left;line-height:64px;padding-left:150px;font-size:24px;color:#fff}
.purchase_wrap .comfire_button .button{font-family:"宋体";font-size:14px;font-weight:bold}
.purchase_wrap .comfire_button .cancel{background-color:#d2d2d2;color:white;border:0}
.purchase_wrap .coupon_footer{margin-left:40px;margin-top:20px;text-aling:left}
.purchase_wrap .coupon_footer li{color:#969696;font-size:14px;line-height:24px}
.purchase_wrap .coupon_footer .comfire_a{color:#1a66b3;text-decoration:none}
.purchase_wrap .purchase .coupon_tip{margin-top:20px;color:#969696}
.purchase_wrap .purchase_point_value{color: red; font-weight:blod;}

/*现金购券与积分换券添加*/
.coupon_dialog_jf .comfire_text_wrap .content_text {text-align:center;}
.coupon_dialog_jf .cash {font-size:18px;color:#fc474b;font-weight:bold;}
.coupon_dialog_jf .coupons_show { font-size: 0;width: 418px;margin:12px 0 0 22px;max-height: 250px;overflow: hidden;overflow-y:auto;}

.coupon_dialog_jf .coupon_label {width: 184px;height: 91px;margin-top: 5px;float:left;margin-right: 14px;background: url(images/bg_lable.png) no-repeat;line-height: 1;color: white;font-size: 12px;font-family: "SimSun";overflow: hidden;display: inline-block;}
.coupon_dialog_jf .coupon_label.hide{display: none;}
.coupon_dialog_jf .coupon_label .price {margin-top: 8px;}

.coupon_dialog_jf .coupons_show.only_one .coupon_label{float:none;}

.coupon_dialog_jf .coupon_label .price .p {font-size: 14px;margin-right:2px;}

.coupon_dialog_jf .coupon_label .price .p_n {font-size: 24px;}

.coupon_dialog_jf .coupon_label .c_name,.coupon_dialog_jf .coupon_label .time_c {margin-top: 10px;}

.coupon_dialog_jf .coupon_label .c_name{overflow: hidden;text-overflow: ellipsis;white-space: nowrap;padding: 0 10px;}
.coupon_dialog_jf .coupon_label .c_name{line-height: 14px\0;}
.coupon_dialog_jf .limit_buy{margin-top:15px;}

.coupon_dialog_jf .content_text{padding:0;}

.coupon_dialog_jf .content_text .look_area{margin-top:20px;display: inline-block;color:#1a66b3;text-decoration:none;}

.coupon_dialog_jf .content_text .look_area .drop_down{display: inline-block;width:11px;height:6px;background: url("images/drop_down.png") no-repeat;vertical-align: middle;margin-left: 5px;}

.coupon_dialog_jf .content_text .look_area .drop_down.on{background-image: url("images/drop_up.png")}
/*
.coupon_dialog_jf .coupons_show.height_auto{max-height: none;}
*/

.coupon_dialog_jf.jifen{width:450px;}
