@charset "utf-8";
.dd_Rotate {
    font-size: 14px;
    overflow: hidden;
    padding: 0;
    width: 312px;
    position: relative;
    margin: 0 auto 10px;
    /* 
    margin-bottom: 10px;
    left: 50%;
    *left: 20%;*/
}
.dd_Rotate .Rotate-background {
    background-repeat: no-repeat;
    background-position: 0 0;
    float: left;
    margin: 0 1px 0;
    height: 76px;
    width: 76px;
}
.dd_Rotate .Rotate-operate {
    color: #555;
    height: 16px;
    line-height: 16px;
    margin: 0 1px 8px;
    position: relative;
    text-align: left;
}
.dd_Rotate label.error {
    display: none;
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    color: #f42e00;
    left: 0;
    line-height: inherit;
    opacity: 0;
    padding: 0;
    border: none;
    position: absolute;
    top: 0;
    transform: translate(-20px, 0px);
    transition: all 0.25s ease-out 0s;
    visibility: hidden;
}
.dd_Rotate label.error.is-visible {
    opacity: 1;
    transform: translate(0px, 0px);
    visibility: visible;
}
.dd_Rotate .Rotate-prompt {
    font-size: 14px;
    opacity: 1;
    position: absolute;
    transform: translate(0px, 0px);
    transition: all 0.25s ease-out 0s;
    vertical-align: baseline;
    visibility: visible;
}
.dd_Rotate .Rotate-prompt.is-hidden {
    opacity: 0;
    transform: translate(20px, 0px);
    visibility: hidden;
}
.dd_Rotate .Rotate-refresh {
    cursor: pointer;
    position: absolute;
    right: 0;
    top: 0;
}
.dd_Rotate a {
    color:#1a66b3;
    text-decoration:none;
}
.dd_Rotate a:hover {
    text-decoration:underline;
}