/* ===================== 
*       公共模块 
*  ===================== */
/* 基础样式 */
.ad_slider {background: none repeat scroll 0 0 #FFFFFF; color: #404040; font: 12px "宋体", Arial, Helvetica, sans-serif; margin: 0 auto; position: relative;}
.ad_slider a{color: #666666; font-size: 12px; text-decoration:none;}
.ad_slider a:hover {color: #404040; font-weight:bold; text-decoration:none; }


/* ===================== 
*       特殊模块 
*  ===================== */
/* -------- 水平slider -------- */
/* 接口变量 */
.mt15{margin-top:15px;}
/*  公共部分：tab文字_2tab_960  + tab文字_3tab_960 */
.ad_slider_tag2_level960,
.ad_slider_tag3_level960 { position:absolute; left:0px; top:8px;}
.ad_slider_tag2_level960 a,			/*Info:此处padding的right比left多5px，显示三角图形用 */
.ad_slider_tag3_level960 a {display:block; width:52px; line-height:18px; text-align:center; background-color:#D6D6D6; margin-top:1px;} 
.ad_slider_tag2_level960 a.active,
.ad_slider_tag2_level960 a:hover,
.ad_slider_tag3_level960 a.active,
.ad_slider_tag3_level960 a:hover {color:#404040;font-weight:bold;background:url(static/images/bg_bottom_ad.png) no-repeat -15px -19px; padding-right:5px;}


/*  公共部分：tab文字_2tab_710  + tab文字_3tab_710 */
.ad_slider_tag2_level710,
.ad_slider_tag3_level710 { position:absolute; left:0px; top:8px;}
.ad_slider_tag2_level710 a, 			/* Info:此处padding的right比left多5px，显示三角图形用 */
.ad_slider_tag3_level710 a {display:block; width:52px;line-height:18px; text-align:center; background-color:#D6D6D6; margin-top:1px;} 
.ad_slider_tag2_level710 a.active,
.ad_slider_tag2_level710 a:hover,
.ad_slider_tag3_level710 a.active,
.ad_slider_tag3_level710 a:hover {color:#404040;font-weight:bold;padding-right:5px;}


/* 不同部分：tab文字_2tab_960  + tab文字_3tab_960 */
.ad_slider_tag2_level960 a {height:18px;padding:7px 0px 6px; padding:8px 0px 5px\9;} 
.ad_slider_tag3_level960 a {height:16px;padding:4px 0px 0px; padding:5px 0px 0px\9;} 
.ad_slider_tag2_level960 a.active,
.ad_slider_tag2_level960 a:hover {background:url(static/images/bg_bottom_ad.png) no-repeat -15px -19px;}
.ad_slider_tag3_level960 a.active,
.ad_slider_tag3_level960 a:hover {background:url(static/images/bg_bottom_ad.png) no-repeat -15px -23px;}

/* 不同部分：tab文字_2tab_710  + tab文字_3tab_710 */
.ad_slider_tag2_level710 a{height:18px;padding:7px 0px 6px; padding:8px 0px 5px\9; }
.ad_slider_tag3_level710 a{height:16px; padding:4px 0px 0px; padding:5px 0px 0px\9;} 
.ad_slider_tag2_level710 a.active,
.ad_slider_tag2_level710 a:hover {background:url(static/images/bg_bottom_ad.png) no-repeat -15px -19px;}
.ad_slider_tag3_level710 a.active,
.ad_slider_tag3_level710 a:hover {background:url(static/images/bg_bottom_ad.png) no-repeat -15px -23px;}

/* 不同部分：tab图片 */
.ad_slider_content_level960{ width:960px; height:80px; overflow:hidden;}
.ad_slider_content_level710{ width:710px; height:80px; overflow:hidden;}
.float_left{ float:left;}


/* -------- 竖直slider -------- */

/* 公共部分：tab文字_3tab  + tab文字_4tab */
.ad_slider_tag3_vertical_188x270,
.ad_slider_tag4_vertical_188x270 { overflow:hidden; width:189px;border-left:1px solid #e0e0e0; }
.ad_slider_tag3_vertical_188x270 li,
.ad_slider_tag4_vertical_188x270 li { float:left;  text-align:center; border-right:1px solid #e0e0e0;}
.ad_slider_tag3_vertical_188x270 li a,
.ad_slider_tag4_vertical_188x270 li a {  display:block; height:17px; overflow:hidden; padding:9px 0 4px; color:#404040; cursor:default; text-decoration:none; background:url(static/images/bg_pic_ad_tab.png) no-repeat -5px 0; }
.ad_slider_tag3_vertical_188x270 li a:hover,
.ad_slider_tag3_vertical_188x270 li a.active, 
.ad_slider_tag4_vertical_188x270 li a:hover,
.ad_slider_tag4_vertical_188x270 li a.active { font-weight:bold; background:url(static/images/bg_pic_ad_tab_active.png) no-repeat -5px 0; }
.ad_slider_tag3_vertical_188x270 div,
.ad_slider_tag4_vertical_188x270 div{ border:1px solid #e0e0e0; border-top:none; height:358px; margin-bottom:10px; overflow:hidden; position:relative; width:188px; }
.ad_slider_tag3_vertical_188x270 div a,
.ad_slider_tag4_vertical_188x270 div a { display:block; height:358px; text-align:center; width:188px; }
.ad_slider_tag3_vertical_188x270 img,
.ad_slider_tag4_vertical_188x270 img { border:none; margin:0 auto; }
/* tab图片 */
.ad_slider_content_vertical_188x270{ position:relative; width:188px; height:270px; overflow:hidden;border:1px solid #e0e0e0; border-top:none;}

/* 不同部分：tab宽度 */
.ad_slider_tag3_vertical_188x270 li { width:62px; }
.ad_slider_tag4_vertical_188x270 li { width:46px; }



/* ‘广告’标签 */
.ad_slider .icon_ad,
.topbanner_all .icon_ad,
.topbanner_all_old .icon_ad
{background:url(static/images/bg_bottom_ad.png) no-repeat -34px 0; bottom:0; _bottom:-1px; display:block; height:14px; line-height:48px; overflow:hidden; position:absolute; right:0; width:38px; z-index:400;}


/* 1.搜索和分类页左侧2+6（新版） */
.merchants_hotsale{border:1px solid #e0e0e0;margin-bottom:10px;padding:1px;position:relative;width:186px;}
.merchants_hotsale h2{background:url(static/images/bg_merchants_hotsale.png) repeat-x 0 -6px;color:#404040;font-weight:bold;height:18px;padding:4px 0 4px 11px;padding:5px 0 3px 11px\9;}
.merchants_hotsale .corner{background:url(static/images/bg_merchants_hotsale.png) no-repeat;position:absolute;}
.merchants_hotsale .left_top{background-position:0 0;height:3px;left:-1px;top:-1px;width:3px;}
.merchants_hotsale .right_top{background-position:0 -3px;height:3px;right:-1px;top:-1px;width:3px;}
.merchants_hotsale_content{background:#e5e5e5;padding:3px;overflow:hidden;width:180px;} 
.merchants_hotsale_content ul{}
.merchants_hotsale_content ul li{border-top:1px solid #d2d2d2;color:#666;display:block;overflow:hidden;padding:12px;width:156px;}
.merchants_hotsale_content ul li.first{border-top:none;}
.merchants_hotsale_content ul li .pic{border:1px solid #d2d2d2;height:120px;margin:0 17px;width:120px;}
.merchants_hotsale_content ul li .pic a{background:#fff;display:block;height:120px;overflow:hidden;text-align:center;width:120px;}
.merchants_hotsale_content ul li .price{margin-top:3px;text-align:center;}
.merchants_hotsale_content ul li .price .price_d{color:#666;font-family:Arial;font-weight:bold;}
.merchants_hotsale_content ul li .price .price_d em{padding-left:1px;}
.merchants_hotsale_content ul li .detail{width:156px;}
.merchants_hotsale_content ul li .detail a{color:#666;}
.merchants_hotsale_content ul li.merchants_hotsale_btn{padding:7px 8px 4px 0;width:172px;padding:8px 8px 3px 0\9;}
.merchants_hotsale_content ul li.merchants_hotsale_btn a{color:#666;display:block;text-align:right;}
.merchants_hotsale_content ul li a:hover{color:#f60;}


/* 2.分类页首屏右侧（新版） */
.publish_main{float:right;margin-top:10px;overflow:hidden;width:760px;}
.slide_ad {background:url(static/images/bg_slide_ad.png) repeat-x 0 -56px;border:1px solid #edd8b0;height:116px;margin-bottom:10px;position:relative;width:758px;}
.slide_ad .corner {background:url(static/images/bg_slide_ad.png) no-repeat;position:absolute;}
.slide_ad .left_top {background-position:0 0;height:5px;left:-1px;top:-1px;width:5px;}
.slide_ad .right_top {background-position:-5px 0;height:5px;right:-1px;top:-1px;width:5px;}
.slide_ad .left_bottom {background-position:0 -5px;height:5px;bottom:-1px;left:-1px;width:5px;}
.slide_ad .right_bottom {background-position:-5px -5px;height:5px;bottom:-1px;right:-1px;width:5px;}
.slide_ad .icon {background:url(static/images/bg_slide_ad.png) no-repeat 0 -11px;height:45px;left:0;position:absolute;top:0;width:45px;}
.slide_ad .btn_prev {float:left;height:72px;overflow:hidden;margin-top:45px;position:relative;width:39px;}
.slide_ad .btn_prev span {background:url(static/images/bg_slide_ad.png) no-repeat -10px 0;display:block;height:11px;left:15px;overflow:hidden;position:absolute;top:8px;width:6px;}
.slide_ad .btn_next{float:right;height:116px;overflow:hidden;position:relative;width:39px;}
.slide_ad .btn_next span {background:url(static/images/bg_slide_ad.png) no-repeat -16px 0;display:block;height:11px;overflow:hidden;position:absolute;right:17px;top:52px;width:6px;}
.slide_ad .bof,.slide_ad .eof {cursor:default;}
.slide_ad .bof span  {background:url(static/images/bg_slide_ad.png) no-repeat -22px 0;}
.slide_ad .eof span  {background:url(static/images/bg_slide_ad.png) no-repeat -28px 0;}
.slide_ad_content {height:116px;overflow:hidden;width:760px;}
.slide_ad_content .slideitem {float:left;margin:12px 0 12px 28px;overflow:hidden;width:208px;} 
.slide_ad_content .first {margin-left:0;}
.slide_ad_content .slideitem .pic {border:1px solid #e0e0e0;float:left;height:90px;width:90px;}
.slide_ad_content .slideitem .pic a {display:block;height:90px;overflow:hidden;text-align:center;width:90px;}
.slide_ad_content .slideitem .detail {float:left;margin-left:8px;overflow:hidden;width:108px;} 
.slide_ad_content .slideitem .detail .title {height:54px;margin-bottom:3px;overflow:hidden;width:108px;}
.slide_ad_content .slideitem .detail .title .tip {color:#666;display:block;}
.slide_ad_content .slideitem .detail .title span {cursor:default;}
.slide_ad_content .slideitem .detail .title a.tip:hover {color:#f60;} 
.slide_ad_content .slideitem .detail .price {height:18px;overflow:hidden;width:108px;}
.slide_ad_content .slideitem .detail .price .price_m{background:url(static/images/bg_price_del.png) repeat-x 0 9px; background-position:0 8px !important;
 color:#9c9c9c;font-family:'Arial';}
.slide_ad_content .slideitem .detail .price .price_d{color:#c30;font-family:Arial;font-weight:bold;}
.slide_ad_content .slideitem .detail .price .price_d em{padding-left:1px;}



/* 3.单品页左侧5 */
.module_merchant_hotsales { width:190px;}
.module_merchant_hotsales h2 { background:url(static/images/bg_sidebar_l.gif) left top no-repeat; width:190px;}
.module_merchant_hotsales h2 span { background:url(static/images/bg_sidebar_r.gif) right top no-repeat; line-height:14px; padding:8px 0 6px 17px; display:block; font-weight:bold;}
.module_merchant_hotsales .module_main { background-color:#fff; border:1px solid #e0e0e0; padding:1px; border-top:none; padding-top:0; margin-bottom:10px; width:186px;}
.module_merchant_hotsales ul {border:1px solid #f4f4f4; display:block; width:184px;}
.module_merchant_hotsales li {padding:16px 2px 0;width:180px; line-height:18px; }
.module_merchant_hotsales .item {padding:0 8px 11px;width:164px;border-bottom:1px solid #f4f4f4;}
.module_merchant_hotsales .pic { width:150px; height:152px; border:1px solid #d2d2d2; background-color:#fff; overflow:hidden; margin:0 auto; text-align:center;}
.module_merchant_hotsales .price {margin:7px 0 4px;color:#c30; font:bold 18px/18px 宋体; text-align:center;}
.module_merchant_hotsales .num {color:#c30; font:normal 18px/18px Arial;}
.module_merchant_hotsales .name { margin:1px auto 0;width:150px;height:36px; overflow:hidden; word-break:break-all; fint-size:12px;line-height:18px;}
.module_merchant_hotsales .name a, .module_hot .name a:hover { color:#1A66B3;}
.module_merchant_hotsales .name a:hover { color:#1A66B3;}
.module_merchant_hotsales li a.name:hover { color:#ff6600;}
.module_merchant_hotsales .more { width:171px; padding:6px 7px 10px 0; text-align:right;}
.module_merchant_hotsales .more a { color:#1A66B3;}
.module_merchant_hotsales .more a:hover { color:#1A66B3;}
.module_merchant_hotsales .current { background-color:#fff5e1;}

/* 4.服装分类列表页 */
.module_fashion_hotsales {font-family: 'Microsoft YaHei', Arial, SimSun;width:216px;padding:1px;border: solid 1px #dacaca; background: #f0e4e4; padding: 1px;font-size: 12px;}
.module_fashion_hotsales img{border:none;}
.module_fashion_hotsales h2 { margin:0;padding:0;background:url(static/images/bg_fashion_sidebar.png) left 0 repeat-x; width:204px;height: 25px; line-height: 25px; padding-left: 12px; color: #fff; font-size: 12px;font-weight: bold;}
.module_fashion_hotsales .module_main {}
.module_fashion_hotsales ul {margin:0;padding:0;padding: 0 9px;}
.module_fashion_hotsales li:after {  content: "."; height: 0; display: block; clear: both; visibility: hidden;  }
.module_fashion_hotsales li {border-bottom: solid 1px #dacaca; padding: 10px 0; zoom: 1;list-style:none;}
.module_fashion_hotsales li .pic a { border: solid 1px #f0e4e4; display: block; margin: 0 auto; width: 150px; margin-bottom: 6px; }
.module_fashion_hotsales li .pic a img { display: block; }
.module_fashion_hotsales li .pic a:hover { border: solid 1px #c00; }
.module_fashion_hotsales li .price{text-align: center;color: #c00; font-weight: bold;}
.module_fashion_hotsales li .name { overflow: hidden; height: 36px; display: block; line-height: 18px; width: 156px; margin: 0 auto; }
.module_fashion_hotsales li a{text-decoration: none; color: #4f3a2b;}
.module_fashion_hotsales li a:hover,.module_fashion_hotsales li a:hover span { text-decoration: underline; color: #c00; }
.module_fashion_hotsales .more{border-bottom:none;padding: 0;}
.module_fashion_hotsales .more a{ display: block; height: 36px; line-height: 36px; padding: 0 9px; text-align: right; }


.red_ad{color:#f00;}

.icon_ad{background:url(static/images/sprite_ad.png) no-repeat 0 -30px;bottom:0;display:block;height:14px;line-height:48px;overflow:hidden;position:absolute;right:0;width:38px;z-index:400;}
/*全局关闭*/
.ad_closeicon{position:absolute;right:5px;top:5px;background:url(static/images/sprite_ad.png) no-repeat 0 -47px;height:14px;width:14px;overflow:hidden;cursor:pointer;}
.ad_closeicon:hover {background-position:-14px -47px;}
.clothing_wrap,.beauty_wrap,.home_wrap,.shop_wrapper{ padding:0!important;}
.clothing_wrap .clothing_firstscreen,.beauty_wrap .firstscreen,.home_wrap .home_firstscreen,.shop_wrapper .shop_navfirst,.shop_wrapper .shop_main{margin: 10px auto 0;}

/*全站顶通*/
.topbanner_all div{width:958px;height:auto;margin:10px auto 0;position:relative;border:1px solid #dcdddd;overflow:hidden;}
.topbanner_all_old div{width:958px;height:63px;margin:10px auto 10px;position:relative;border:1px solid #dcdddd;overflow:hidden;}

/*水平轮转*/
.alllist_tabad div{margin:10px 0 0;overflow:hidden;position:relative;width:758px;height:74px;border:1px solid #dcdddd;}

/*单品底部广告*/
.product_btmad div{width:958px;height:88px;margin:10px auto;position:relative;border:1px solid #dcdddd;overflow:hidden;}


/*浮层*/
.float_pic{width:100%;height:60px;background:url(static/images/pic_1300x73.gif) no-repeat center 0;padding:9px 0 4px;position:fixed;bottom:0;z-index:9999;_position:absolute;   _top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)||0);}
.float_pic span{width:998px;display:block;margin:0 auto;height:60px;overflow:hidden;position:relative;}
.float_pic span a{border:1px solid #dcdddd;width:996px;display:block;height:58px;overflow:hidden;}
.float_pic span a.ad_closeicon{position:absolute;right:6px;top:6px;height:14px;width:14px;border:none;}
.float_pic .icon_ad{bottom:1px;right:1px;}
.float_pic_tmp{width:100%;height:73px;background:#F9F9F9;}

/*底部浮层收起*/
.pack_up_wrap{ width:960px; margin:0 auto;}
.pack_up_wrap .pack_up { position:fixed; width:85px; z-index:10001; overflow:hidden; margin-left:-19px; bottom:0;_position:absolute;_top:expression(eval(document.documentElement.scrollTop+document.documentElement.clientHeight-this.offsetHeight)||0); clear:both;}
.pack_up_wrap .pack_up a { width:41px; height:23px;background:url(static/images/pack_up.gif) no-repeat 0 0; line-height:23px;line-height:24px\9; overflow:hidden; padding-left:37px; color:#747474; display:block; text-decoration:none;font-family: 宋体,Arial,Helvetica,sans-serif; font-size:12px;}
.pack_up_wrap .pack_up a:hover{ text-decoration:underline;color:#747474;}

/*左侧摩天楼*/
.banner_area div, .banner_area2 div { position:relative; overflow:hidden; width:188px; height:270px; margin-bottom:10px; text-align:center;   border:1px solid #e0e0e0;}


.dd_ad_flip_ob_small  {position: absolute; left: 100%; margin-left: -150px; top: 0px; z-index: 15500;}

.dd_ad_flip_ob_big {position: absolute; left: 100%; margin-left: -300px; top: 0px; z-index: 15500;}

