@charset "utf-8";
/* 全局 */
*{margin:0; padding:0;}/* 通配符来定义全局*/
body{margin:0; padding:0;
font-family:Arial, Helvetica, sans-serif; font-size:12px;
background:url(../image/bg.jpg) repeat-x #d2eef9;
text-align:center; }
h1,h2,h3,h4,h5{font-size:12px; font-weight:normal;}
img{border:none;}
a{text-decoration:none;}
input{margin:0; padding:0; border:none;}
.clear{clear:both; height:0; line-height:0; font-size:0; margin:0; padding:0;}
.left{float:left;}
.right{float:right;}
div{margin:0;padding:0;}
font {font-style: normal;color:#FFFFFF;font-size: 12px;}
ul,li{ list-style:none; padding:0;}

/*首页顶部*/
#header{width:1003px;height:216px;margin:0 auto; overflow:hidden;}
#header .menu{ height:26px;}
#header .menu ul{ margin-top:14px; height:26px;}
#header .menu li{ display:inline; float:right; margin-right:17px;}
#header .banner{ height:190px; margin:0 auto; overflow:hidden;}
#header .banner img{ margin-top:71px; margin-bottom:55px; border:none;}

/*首页内容*/
#contant{ width:1003px; height:63px; margin:0 auto; overflow:hidden;}
#contant .search{ height:31px; margin:0 auto; overflow:hidden;}
#contant .search ul{ width:474px;height:31px;margin:0 auto; }
#contant .search li{ display:inline; height:31px; padding:0; }
#contant .search li input{ vertical-align:middle; }
/* #contant .search li .text{ text-indent:12px; height:29px; width:348px;border-left:#9a9a98 solid 2px; border-top: solid #9a9a98 2px; margin-right:7px; display:block;float:left; padding:8px 0px; } */
#contant .search li .text{ text-indent:12px; width:348px;border-left:#9a9a98 solid 2px; border-top: solid #9a9a98 2px; margin-right:7px; display:block;float:left; padding:8px 0px; }
#contant .search li .bt{ background:url(../image/bt.gif); border:none; height:31px; width:110px; display:block; float:left; cursor:pointer;}

#contant .kong{ height:10px;}
#contant .search_way{ height:22px; margin:0 auto; overflow:hidden; width:474px;}
#contant .search_way .search_left{ width:231px; float:left;}
#contant .search_way .search_right{ width:243px; float:left;}
#contant .search_way ul li.li1{ margin-left:2px; display:block;  margin-right:12px; float:left;}
#contant .search_way ul li.li1 span{line-height:22px; color:#FFFFFF; font-size:12px;}
#contant .search_way ul li.li2{display:block; margin-right:12px; line-height:22px;float:left;}
#contant .search_way ul li.li3{margin-left:10px; display:block; margin-right:12px;line-height:22px;float:left;}
#contant .search_way ul li a{ text-decoration:none;color:#FFFFFF;}

/*尾部部分*/
#footer{ width:1003px; padding-top:246px; margin:0 auto;}
#footer .footer_menu{ height:14px; margin:0 auto;}
#footer .footer_menu li{ height:14px; display:inline; margin-right:17px;color:#1d6bb3;}
#footer .footer_menu li.li1{ height:14px; margin-left:-13px; margin-right:0px;}
#footer .footer_menu li a{ text-decoration:none;color:#1d6bb3;}
#footer .footer_bottom{margin:0 auto; margin-top:13px; margin-bottom:20px;}
#footer .footer_bottom small{ font-family:Geneva, Arial, Helvetica, sans-serif; color:#1d6bb3; }
#footer .footer_bottom small span{ text-decoration:underline;}
