
.curved {
width: 980px;
position: relative;
z-index: 10;
margin-left: auto;
margin-right: auto;
margin-top: 50px;
border: 1px solid gray;
background-color: white;
-moz-border-radius:10px;
-o-border-radius:10px;
border-radius: 10px;
min-height: 900px;
}

body{
background-color: #e3e3e3;
text-align:left;

}

.header {
}

.logo {
padding-left: 15px;
padding-top: 30px;
}
div.sns {
position: absolute;
right: 20px;
top: 5px;
}
div.sns > a.sns > img.sns {
width: 24px;
height: 24px;
}
a.sns {
display: inline-block;
line-height: 24px;
}

.welcome {

}
.return,
.return a:link{
margin-top: 10px;
margin-bottom: 10px;
margin-left: 15px;
font-family: Arial;
font-size: x-small;
color: #7e52a2;
}

.navbar {
position: static;
background: url(../img/navbar_single_row.png) repeat scroll 0 0 transparent;
height: 36px;
margin-bottom: 20px;
}

.right_nav_header {
font-size:150%;
}

.find-label {
position: relative;
top: 10px;
left: 20px;
color: white;
font-family: Arial;
font-size: 16px;
}

.find-form {
position: relative;
top: 7px;
left: 7px;
width: 300px;
}

.menu {
font-family: Arial;
font-size: 16px;
font-weight: bold;
padding: 9px;
color: white;
float: right;
}
.menu div {
display: inline;
white-space:nowrap;
}

.current a {
font-family: Arial;
font-size: 16px;
font-weight: bold;
color: #7e52a2;
background-color: white;
padding: 10px;
position:relative;
}

.notcurrent a {
font-family: Arial;
font-size: 16px;
font-weight: bold;
color: white;
padding: 10px 10px 10px 10px;
margin:0;
border-left: 1px solid white;
position:relative;
}
.current a sup,
.notcurrent a sup {
    color: #f2be1a;
    font-style: italic;
    font-size: 12px;
    position: absolute;
    top: 2px;
    right: 2px;
}

.login-closed {
float: right;
margin-right: 100px;
}

.welcome-to-flintbox {
margin-bottom: 10px;
margin-left: 20px;
position: relative;
font-family: Arial;
font-size: 24px;
color: #7e52a2;
width: 700px;
}

.welcome-to-flintbox h2 {
font-size: 24px ! important;
}

.content {
position: relative;
margin-left: 20px;
padding-bottom: 20px;
font-family: Arial;
font-size: 12px;
color: #545454;
width: 700px;
}

.footer_links {
margin:2em;
text-align:center;
}
#copyright_and_trademark {
text-align:center;
}

span.footer-logo-inline {
  position: relative;
  top: -25px
}

.flintbox-nav-search {
width:200px;
border:1px solid black;
vertical-align:middle;
}

.flintbox-nav-go-button {
vertical-align:bottom;
height: 20px;
}

#footer {
position: relative;
top: 610px;
clear: both;
margin: 0 0 2em 0;
padding: 1em 3px;
font-size: 85%;
border-top: 1px solid #ccc;
border-bottom: 2px solid #ccc;
background-color: #f7f7f7;
}

#subfooter {
margin: 0 0 1em 0;
padding: 0;
font-size: 80%;
}

#toolbox {
clear: both;
border-left : 1px solid #ccc;
position: absolute;
right: 0;
padding : 0 0 0 1px; /* fix alignment of left border */
width : 155px;
margin: 0 73px 6px 0;
}

#toolbox > h2 {
padding: 0;
margin:0;
font-size : 110%;
font-weight:bold;
font-family: Arial;
width: 225px;
margin-left: -2px;
color:#7E52A2;
padding-left: 5px;
text-align : left;
height:23px;
line-height:23px;
background: url('../img/column_header.png') repeat-x scroll 0 0 transparent;

}
#toolbox > h2 > span.subtitle {
font-size: 80%;
}
#toolbox > ul {
text-align : left;
list-style-type : none;
padding-left : 1.3em;
margin : 0;
margin-left: -10px;
margin-bottom: 10px;
margin-top: 10px;
width: 200px;
}
#toolbox > ul > li {
padding-bottom: 5px;
}

.news_short_description {
margin-left:0.5em;
margin-bottom:1em;
font-size:85%;
line-height:120%;
}

div.tag-cloud-wrapper {
border:0px;
}

ul.steering-committee {
margin:0;
padding:0;
list-style-type:none;
}
ul.steering-committee li {
padding-bottom:0.5em;
}

.publicsearch-homepage {
border: 1px solid #ccc;
padding:1em;
}

/*******
 * SEARCH RESULTS
 */
table.search-results {
width: 100%;
}

table.search-results tr {
height:5em;
vertical-align:top;
}
table.search-results tr td {
padding-bottom: 1em!important;
}
table.search-results tr td + td {
padding:0 0.25em;
}
table.search-results tr + tr{
border-top: 1px solid #666666;
}
table.search-results tr + tr td {
padding: 1em 0;
}

table.search-results td.search-results-major > a.title {
font-size: 120%;
font-weight: bold;
text-decoration: underline;
}
table.search-results a.abbreviate,
table.search-results a.abbreviate:active {
font-weight: normal !important;
text-decoration: underline;
}

td.search-results-type {
width: 25px;
vertical-align: top;
}

td.search-results-minor {
width: 200px;
vertical-align: top;
}

.publicsearchform-widget {
text-align:center;
border: 1px solid #ccc;
padding: 1em;
margin: 1em auto;
width: 400px;
}

.publicsearchform-widget td.find-label {
color:#000;
top: 0px;
}

.publicsearchform-widget div.find-label{
top: 0px;
left: 0px;
color: #000000;
float: left;
}

.publicsearchform-ui{
float: right;
text-align: right;
}

.publicsearchform-ui input.input_normal{
width: 200px;
}

.select-search-box-right-nav {
width:160px;
}

#flintbox-login-box {
width:45em;
border:1px solid #777;
}

#flintbox-new-member-cell {
padding: 0.5em;
}

#flintbox-existing-member-cell {
padding: 0.5em;
}

#flintbox-new-member-cell {
border-right: 1px solid #777;
}

#flintbox-existing-member-table th,
#flintbox-new-member-table th
{
border:0;
white-space:normal;
}
.flintbox-login-message {
color:red;
text-align:center;
padding:0.25em;
}

.flintbox-existing-member-message {
text-align:center;
padding-bottom:1em;
padding-top:1em;
}
.flintbox-new-member-message {
text-align:left;
padding-bottom:1em;
padding-top:1em;
}
.flintbox-login-banner-message {
text-align:center;
padding-bottom:0.5em;
padding-top:0.5em;
}

#flintbox-login-single {
text-align:center;
padding-bottom:0.5em;
padding-top:0.5em;
text-align:left;
font-weight:bold;
}

.flintbox-login-header {
font-size:18px;
padding: 17px 0px 2px 0px;
color: #7e52a2;
text-align:left;
}

.flintbox-login-button {
padding-top:10px;
}
.para_space p{
padding: 10px 0px;
}
