/* ==========================================================================
   CLIPBOARD
   ========================================================================== */
.clipboard:hover .InCell, .clipboard:hover .link { background: #f1f1f1; }
.InCell:hover .Input img { filter: invert(0.03); -webkit-filter: invert(0.03); -ms-filter: invert(0.03); }
.InCell { padding: .45rem; border-radius: 5px; width: auto; line-height: 0; display: inline-block; }
.OCell { padding: 0 .5rem; display: inline-block; }
.clipboard .InCell:hover, .InCell:focus { background: #e8f3ff; position: relative; }

.clipboard .tooltip { background: #f5f5f5; border-radius: 3px; border: 1px solid #e5e5e5; color: #898989; display: block; font-size: 12px; left: 0; margin: auto; opacity: 0; padding: 8px; position: absolute; right: 0; text-align: center; white-space: nowrap; width: 130px; z-index: 9999; top: 0; height: 33px; }
.clipboard .tooltip.bottom { top: auto; bottom: -53px; }

.InCell:hover .tooltip, .link:hover .tooltip { opacity: 1; top: -3.5rem; }

.clipboard .tooltip:after { content: ''; border-top: .67rem solid #e5e5e5; border-bottom: .67rem solid transparent; border-left: .73rem solid transparent; border-right: .73rem solid transparent; display: block; width: 0; height: 0; position: absolute; top: 31px; left: 0; right: 0; margin: auto; z-index: 9; }
.clipboard .tooltip:before { border-bottom: 9px solid transparent; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 9px solid #f5f5f5; content: ''; display: block; height: 0; left: 0; margin: auto; position: absolute; right: 0; top: 31px; width: 0; z-index: 9999;
}

.clipboard .tooltip.bottom:before { border-bottom: 9px solid #f5f5f5; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 9px solid transparent; top: -17px;
}

.clipboard .tooltip:after { border-bottom: 10px solid transparent; border-left: 11px solid transparent; border-right: 11px solid transparent; border-top: 10px solid #e5e5e5; content: ''; display: block; height: 0; left: 0; margin: auto; position: absolute; right: 0; top: 31px; width: 0; z-index: 9998;
}

.clipboard .tooltip.bottom:after { border-bottom: 10px solid #e5e5e5; border-left: 11px solid transparent; border-right: 11px solid transparent; border-top: 10px solid transparent; top: -19px;
}

.clipboard .tooltip i { background: url(../img/icon-clipboard.png) no-repeat top left; background-size: 14px 18px; height: 18px; margin: -3px .25rem 0 0; vertical-align: middle; width: 14px; display: inline-block;
}

.clipboard .tooltip.copied i { background: url(../img/icon-checkmark.png) no-repeat center left; background-size: 15px 11px; height: 18px; margin: -3px .25rem 0 0; vertical-align: middle; width: 15px; display: inline-block;
}
.IFL { overflow: hidden; height: 1px; color: transparent; font-size: 1px; line-height: 1; z-index: 0; position: absolute; }
.IFL.show { padding: .67rem; font-size: .67rem; line-height: 1.5; background: #f7f7f7; border-radius: .33rem; border: 1px solid #e5e5e5; box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1); padding: .67rem 1.33rem 1.33rem; color: #494949; height: auto; z-index: 2; position: absolute; width: 450px; margin-top: .33rem; }
.IFL.show .text { max-height: 300px; background: #fff; border: 1px solid #e5e5e5; padding: .33rem; margin-top: .67rem; overflow-y: auto; }
.IFL .close { box-sizing: border-box; position: absolute; width: 2.67rem; height: 2.67rem; top: 0; right: 0; padding: 2px 0 0 23px; cursor: pointer; display: block; }

.InCell + .link { position: relative; vertical-align: top; display: inline-block; margin: 0 0 .5rem .3rem; padding: .45rem .4rem .45rem .4rem; border-radius: 5px;
}
.clipboard .InCell + .link:before { content: ''; display: inline-block; width: 13px; height: 13px; background: url('/language-assets/img/link2x.png'); background-size: 13px 26px; top: 3px; position: relative;
}
.InCell + .link:hover { background: #e8f3ff !important;
}
.InCell + .link:hover:before { background-position: left bottom; }
.InCell + .link .tooltip { left: -50px; display: none }
.InCell + .link:hover .tooltip { left: -50px; display: block; }