/* ==========================================================================
   CLIPBOARD
   ========================================================================== */
#guide .GuideDelimiter, #guide .GuideDelimiterSubsection, #guide .GuideDelimiterTop, .HowToDelimiter, .GuideDelimiterSubsection { border-top: 1px solid #dfdfdf; margin: 1.2rem 0; height: 0; }

#guide .GuideDelimiterTop { margin: 1.5rem 0; }
#guide .GuideDelimiterSubsection + section { margin: -1.3rem 0 0 0; position: relative; border: 0; }
#guide h1.toggle { color: #333; margin: 8px 2px 1.2rem; padding: 0; }
#package h2 { color: #333; font-size: 1.08rem; }
#guide h3, #package h3 { margin: 1.2rem 0 .4rem; }
#guide h3, #guide h3 a, #package h3, #package h3 a { color: #d96500; font-size: 1.17rem; font-weight: 400; }
#guide h3 a:hover, #package h3 a:hover { color: #f77700; }
#guide .hideable h3, #package .hideable h3 { border-top: 0; margin: 1.2rem 0 0; }
#guide .hideable h3 a, #package .hideable h3 a { font-size: 1rem; }
#guide img { vertical-align: middle; }

#guide.summary-of-new-features h1.toggle { font-size: 1.35rem; }
#guide.summary-of-new-features h1.toggle:before { top: -.64rem; }
#guide.summary-of-new-features h1.toggle.open:before { top: -.67rem; }

#guide p.inlineFunctionList { line-height: 1.4; font-size: .96rem; margin: .6rem 0; font-weight: 600; }
#guide p.inlineFunctionList:last-of-type { margin: .6rem 0 0; }
#guide p.singleFunction { line-height: 1.4; font-size: .96rem; margin: .6rem auto; }
#guide p.singleFunction:last-of-type { margin: .4rem auto .2rem; }
#guide span.singleFunctionText { line-height: 1.4; font-size: .96rem; margin: .6rem auto; font-weight: 400}
#guide #SeeAlso .inlineFunctionList { margin: .3rem 0 0 1.33rem; font-size: .91rem; }
#guide section ul.functionList li { margin: .3rem 0 0 1.33rem; font-size: .91rem; }
#guide #Reference h3 { display: inline-block; vertical-align: middle; margin: 0 1rem 0 0; font-size: 1rem; line-height: 1.8; }
#guide #Reference h3 a { font-weight: 600; }
#guide #Reference h3:hover { color: #f77700; }
#guide #Reference h3:last-of-type { margin: 0 .2rem 0 0; }
#guide #Reference h3 + .singleFunction { display: inline-block; margin: 0 0 0 .2rem; vertical-align: middle; }
#guide #Reference .toggle:before { display: none; }
#guide #Reference .toggle { font-size: 1.8rem; font-weight: 600; margin: 0; }
#guide #Reference .hideable { padding: 0 0 1rem; margin: 0; }
#guide #Reference .date { font-size: 1rem; color: #7b7b7b; font-weight: 400; }
#guide #Reference .updates { display: inline-block; color: #333; }
#guide #Reference .updates .singleFunction { display: inline-block; }
#guide #Reference .updates .singleFunction a { color: #777; }
#guide #Reference .updates .singleFunction a:hover { color: #f77700; }
#guide #Reference h3 img { top: -2px; position: relative; }
#guide #Reference p.singleFunction { margin: .2rem auto; }

/* temporary */
#guide #Reference h3 a img[src*="RecentlyAddedFeatures"][width="41"] { width: 21px; }
#guide #Reference h3 a img[src*="RecentlyAddedFeatures"][width="29"] { width: 15px; }

#overviewGuide h2 a { font-size: 1rem; display: inline-block; margin: .5rem 0; font-weight: 600; }
#overviewGuide h2 a:hover { color: #f77700; }
