html[lang="ja"] .iconography .new, html[lang="zh"] .iconography .new { font-style: normal; }
html[lang="ja"] .top { font-size: .9rem; left: -1rem; position: relative; }
html[lang="zh"] .top { font-size: .9rem; position: relative;