/* ==========================================================================
   TECH NOTES
   ========================================================================== */
#tutorialOverview .toggle { color: #0549a6; }
#tutorialOverview h2, #tutorialOverview h2.toggle { color: #d96500; padding: .6rem .2rem .2rem; }
#tutorialOverview h2:before { content: ''; width: 6px; height: 6px; display: inline-block; }
#tutorialOverview h2 a { color: #d96500; font-size: 1.08rem; }
#tutorialOverview h2 a:hover { color: #f77700; }
#tutorialOverview section:last-of-type h2.toggle { margin: 0 0 .4rem; }
#tutorialOverview h3 { padding-top: .18rem; padding-bottom: .18rem; font-size: 1rem; letter-spacing: .043rem; margin: 0 .5rem; }
#tutorialOverview h4 { margin: .3rem .5rem; font-size: .9rem; }
#tutorialOverview .overviews { margin: 1rem 0 1rem 1.33rem; font-size: 1.1rem; }
#tutorialOverview h5 { margin: .3rem .5rem; font-size: .8rem; padding: 0; }
#tutorialOverview h6 { margin: .2rem .5rem; font-size: .7rem; padding: 0; }
#tutorialOverview .toggle { margin: 0; }
#tutorialOverview .hideable .hideable { margin: .5rem .5rem; }

#techNote h3 { color: #b46625; font-size: 1rem; }

.MCap { margin: 1.07rem 0; line-height: 1.6; font-size: .93rem; color: #636363; }
p.Text { margin: 0 0 1.07rem; line-height: 1.6; font-size: 1.07rem; }
p.Text { margin: .3rem 0 1.07rem; }
p.Caption { font-size: .94rem; margin: 0 0 1.6rem; font-weight: 300; }

.AwaitingReviewNote, .ObsolescenceNote { background: #f8f8f8; border: 1px solid #dedede; padding: .7rem 12%; margin: 0 auto 1.5rem; border-radius: 4px; font-size: .9rem; display: table; vertical-align: middle; }
.topContentWrap + .ObsolescenceNote, .topContentWrap .AwaitingReviewNote { margin: 1.5rem auto; }
.awaiting-review-note-inner { text-align: left; display: table-cell; }
.TutorialJumpBox { margin: 0 0 2rem; }
.TutorialJumpBox .nogridboxdividers { margin: 0; }
.TutorialJumpBox a { color: #5c5c5c; background: url(/2013/images/jump-arrow-off.png) no-repeat 0 6px; font-size: .9rem; line-height: 1.5; display: block; padding-left: 1rem; text-indent: 0;
}