ul.directorycontents {
    list-style: none;
    padding-left: 8pt;
}

ul.directorycontents > li {
    min-height: 18pt;
    font-size: 12pt;
}

ul.directorycontents > li > span {
    display: inline-block;
}

span.file {
    /* allow long file names to push other columns to right */
    min-width: 360pt;
}

span.size, span.date {
    /* indent when a line needs to wrap (e.g. narrow window) */
    padding-left: 4pt;
}

span.size {
    width: 48pt;
}

span.date {
    width: 120pt;
}
