

div#main div.dataitem td.left {width: 600px;}
div#main div.dataitem td.right {width: 200px;}


div#main ul {margin: 6px 2px 20px 30px;}
div#main ul li {margin: 2px 0px 2px 0px;}

div#main ol {margin: 15px 2px 20px 30px;}
div#main ol li {margin: 5px 0px 5px 0px;}
