@charset "UTF-8";
html,body,div,h1,img{padding:0;margin:0 auto;border:0;}
html { overflow-y: scroll; }
html,body{width:100%;height:100%;font-size:12px;font-family:"宋体",Georgia;color:#333;}
.h6{ clear:both; display:block; height:6px}
a{text-decoration:none;color:#000;}
a:hover{color:#F30; text-decoration:none}
a.ok {color:#060; font-weight:bold; padding:2px;text-decoration:none;}
a.ok:hover {background-color:#060; color:#FFF}
.main{width:728px; margin: 0 auto 20px; clear:both; overflow:hidden; text-align:center}
.head{margin:0 auto 20px; clear:both; background: url(glogo.gif) no-repeat center 15px; padding-top:80px}
.foot{ text-align:center; width:100%; position:fixed; bottom:0; border-top:1px solid #d0d0d0; padding:5px 0;background-color:#E0E0E0}
.hidden{display:none}
.box{clear: both;margin-bottom: 10px;}
.list{vertical-align:top; margin:5px 15px;text-align:left; font-size:14px;}
.sch{float:left; width:300px}
.web{float:right; width:280px}
h1{font-size:20px; text-align:center; padding-bottom:8px; color:#06C; font-family:"Microsoft YaHei"; border-bottom:1px #ccc solid}
.url{ margin:10px 0px; text-align:left; line-height:150%}
.note{text-align:left; width:100%; line-height:180%;font-family:微软雅黑;}
.ga{overflow:hidden;}
a.a2 {color:#060; font-weight:bold; font-size:14px;
      background:url(list.png) no-repeat left 6px;
	  padding-left: 19px;display: block;float: left; 
	  }
a.a2:hover {background-color:#060; color:#FFF}
#ta2{font-size:14px; color:#06C; float:left; font-weight:bold; height:24px; width:66px}

