body {background: #FFFFFF; color: black;}
body, h1, h2, h3, h4, h5, h6 {margin: 0; padding: 0;}
p {margin: 0 0 1.25em; line-height: 1.25;}
h1, h2, h3, h4, h5, h6 {font-family: Arial, Verdana, sans-serif;}

h1 {color: #FFFFFF;
   font: 30px Univers, Arial, Verdana, sans-serif;
   font-weight: bold;
   text-align: left;
   padding: 0.5em 0px 0.5em 3.5em;
   margin: 0px;
   border: solid #0000EE;
   border-width: 3px 0px 2px 0px;
   background: #043bb9 url(bluerings.jpg) no-repeat; 
   letter-spacing: 0.3em;}
h1 a:link {color: #FFFFFF; text-decoration: none; display: block;}
h1 a:visited {color: #FFFFFF; text-decoration: none; display: block;}
h1 a:hover {color: #AA99BB; text-decoration: none; display: block;}
h1 a:active {color: #FFFFFF; text-decoration: none; display: block;}

h2 {color: #BBBBEE;
   font: bold 28px/1em Univers, Arial, Verdana, sans-serif;
   padding: 15px 50px 15px 50px; 
   margin: 0px;
   letter-spacing: 0.3em;
   background: transparent;}

h3 {color: #0033CC;
   font-size: 120%; 
   margin-bottom: 0.2em; 
   margin-left: 0;
   letter-spacing: 0.1em;}

div#main {font-family: Serif;
   margin: 0px;
   padding: 2em 50px 2em 50px;
   background: transparent; }
div#main a:link {color: #003399;}
div#main a:visited {color: #999999;}
div#main a:hover {color: #0099FF;}
div#main a:active {color: #888866;}

div#main div.textcol {width: 40em;}

div#footbar { width:30em; float: left;
   font-size: 75%; 
   line-height: 130%;
   text-align: left;
   border: dotted #AACCFF;
   border-width: 1px 0px 0px 0px;
   background: #FFFFFF url(whiterings.jpg) no-repeat;
   color: #666666;
   padding: 2px 10px 20px 50px; 
   margin: 0px;
   font-family: Arial, Verdana, sans-serif;
   clear: both;
   letter-spacing: 0.05em;}
div#footbar a:link {color: #4444DD;}
div#footbar a:visited {color: #999999;}
div#footbar a:hover {color: #4400FF;}
div#footbar a:active {color: #00CCFF;}


div#main ul {margin: 6px 2px 20px 30px;}
div#main ul li {margin: 2px 0px 2px 0px;}

div#main ol {margin: 15px 2px 20px 30px;}
div#main ol li {margin: 5px 0px 5px 0px;}

div#main div.sepbox{
   padding: 0;
   border: solid #6699FF;
   border-width: 0px 0px 3px 0px;
   margin: 0px 0px 2em 0px;}

div#main p.caption {width: 600px; font-size: 80%; font-weight: bold; margin-top: -1em;}

div#logobar img { margin-left:4em; vertical-align: middle;}

#vgg_header {
    font-family: Arial, sans-serif;
    padding: 0.5em 0.5em 0.5em 5em;
    margin: 0px;
/*     border: solid #0000EE; */
/*     border-width: 3px 0px 2px 0px; */
    background: #043bb9 url(bluerings.jpg) no-repeat;
    -moz-background-size: auto 120%;
    -o-background-size: auto 120%;
    -webkit-background-size: auto 120%; 
    background-size: auto 120%;
}

#vgg_header a:link {color: #FFFFFF; text-decoration: none; display: block;}
#vgg_header a:visited {color: #FFFFFF; text-decoration: none; display: block;}
#vgg_header a:hover {color: #AA99BB; text-decoration: none; display: block;}
#vgg_header a:active {color: #FFFFFF; text-decoration: none; display: block;}
