
div#main ul {margin: 6px 2px 20px 15%;}

div#main div.dataitem table {padding: 0;}
div#main div.dataitem td.left {text-align: center;}
div#main div.dataitem ul {margin: 0px;}
div#main div.dataitem ul li {margin: 0px;}

div#main div.dataitem td {width: 20em;
   padding: 0.5em 1em 0.5em 1em;
   vertical-align: top;}

div#main div.dataitem{
   padding: 2em 1em 1em 1em;
   border: solid #6699FF;
   border-width: 0px 0px 3px 0px;}



