/* tabs*1803*css*2j.tabs2jbrs2tabs*1803*css*2j.style12.tabs */
.twoj_tab_content{
	padding: 10px;
}

.twoj_tab_block_ul{
	margin: 0;
   padding: 0;
	background-image: none;
	list-style: none none;
	background-color: transparent;
	overflow: hidden;
}

/*.twoj_tab_block_li{
	float: left;
	display: block;
	border: 1px solid silver;
	margin-bottom: -1px;
	margin-right: -1px;
}

.twoj_tab_block_a{
	display: block;
	padding: 6px 10px;
	cursor: pointer;
}

.twoj_tab_content{
	border: 1px solid silver;
}*/

.twoj_tab_block_ul > .twoj_tab_block_li{
	float: left;
   padding: 0;
   margin: 0;
	background-image: none;
	background-color: transparent;
	display: block;
}

.twoj_tab_block_right > .twoj_tab_block_ul .twoj_tab_block_li{  
	float: right;
}

.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a:link,
.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a:visited,
.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a:hover{ 
	text-decoration: none; 
}

.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a, 
.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a span{ 
	text-decoration: none;
	display: block;
}

.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a{
    white-space: nowrap !important; /* @ IE 6 */
    outline: 0; /* @ Firefox, prevent dotted border after click */
}
.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a .twoj_tabs_block_a_index{
	display: none !important;
}
.twoj_tab_clr{ width: 0; height: 0; clear: both; }

/* Caution! Ensure accessibility in print and other media types... */
@media projection, screen { /* Use class for showing/hiding tab content, so that visibility can be better controlled in different media types... */
    .twoj-tabs-hide {
        display: none;
    }
}

/* Hide useless elements in print layouts... */
@media print {
    .twoj_tab_block_ul {
        display: none;
    }
}


.twoj_tab_block_ul:after { /* clearing without presentational markup, IE gets extra treatment */
    display: block;
    clear: both;
    content: " ";
}


.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a:hover, 
.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a:focus, 
.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a:active,

.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a span:hover, 
.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a span:focus, 
.twoj_tab_block_ul > .twoj_tab_block_li .twoj_tab_block_a span:active,

.twoj_tab_block_ul > .twoj_tab_block_li .ui-tabs-unselect .twoj_tab_block_a:hover, 
.twoj_tab_block_ul > .twoj_tab_block_li .ui-tabs-unselect .twoj_tab_block_a:focus, 
.twoj_tab_block_ul > .twoj_tab_block_li .ui-tabs-unselect .twoj_tab_block_a:active { /* @ Opera, we need to be explicit again here now... */
    cursor: pointer;
}

/* Additional IE specific bug fixes... */
* html .twoj_tab_block_ul { /* auto clear @ IE 6 & IE 7 Quirks Mode */
    display: inline-block;
}
*:first-child+html .twoj_tab_block_ul  { /* auto clear @ IE 7 Standards Mode - do not group selectors, otherwise IE 6 will ignore complete rule (because of the unknown + combinator)... */
    display: inline-block;
}.twoj_tabs_class12 > .twoj_tab_block_ul{
	overflow: visible;
	padding-left: 24px;
	padding-right: 24px;
}
.twoj_tabs_class12 > .twoj_tab_block_ul .twoj_tab_block_li{
	position: relative;
 	margin-left: 3px;
 	margin-right: 3px;
}

.twoj_tabs_class12 > .twoj_tab_block_ul .twoj_tab_block_li .twoj_tab_block_a span {
	padding: 4px 12px 4px 12px;
	color: #666666;
	font: 15px Helvetica;
        font-weight: Bold;
}

.twoj_tabs_class12 > .twoj_tab_block_ul .twoj_tab_block_li.twoj-tabs-selected{
	background: #ffffff;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4f4f4', endColorstr='#ffffff');
	background: -moz-linear-gradient(top, #ffffff 0%, #f4f4f4 2%, #ffffff 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(2%,#f4f4f4), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(top, #ffffff 0%,#f4f4f4 2%,#ffffff 100%);
	background: -o-linear-gradient(top, #ffffff 0%,#f4f4f4 2%,#ffffff 100%);
	background: -ms-linear-gradient(top, #ffffff 0%,#f4f4f4 2%,#ffffff 100%);
	background: linear-gradient(top, #ffffff 0%,#f4f4f4 2%,#ffffff 100%);	
	border: 1px solid #d5d5d5;
	border-bottom: 0px none;
	-moz-border-radius:5px 5px 0 0;
 	-webkit-border-radius:5px 5px 0 0;
 	border-radius:5px 5px 0 0;
	top:1px;
	margin-top: -2px;
	padding-bottom: 1px;
}

.twoj_tabs_class12.twoj_tab_block_bottom > .twoj_tab_block_ul .twoj_tab_block_li.twoj-tabs-selected{
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f4f4f4');
	background: -moz-linear-gradient(bottom, #ffffff 0%, #f4f4f4 2%, #ffffff 100%);
	background: -webkit-gradient(linear, left bottom, left top, color-stop(0%,#ffffff), color-stop(2%,#f4f4f4), color-stop(100%,#ffffff));
	background: -webkit-linear-gradient(bottom, #ffffff 0%,#f4f4f4 2%,#ffffff 100%);
	background: -o-linear-gradient(bottom, #ffffff 0%,#f4f4f4 2%,#ffffff 100%);
	background: -ms-linear-gradient(bottom, #ffffff 0%,#f4f4f4 2%,#ffffff 100%);
	background: linear-gradient(bottom, #ffffff 0%,#f4f4f4 2%,#ffffff 100%);	
	border: 1px solid #d5d5d5;
	border-top: 0px none;
	-moz-border-radius:0 0 5px 5px;
 	-webkit-border-radius:0 0 5px 5px;
 	border-radius:0 0 5px 5px;
	top: 1px;
	margin-top: -2px;
	padding-top: 1px;
}

.twoj_tabs_class12 > .twoj_tab_block_ul .twoj_tab_block_li.twoj-tabs-selected .twoj_tab_block_a span{
	padding-left: 11px;
	padding-right: 11px;
}

.twoj_tabs_class12.twoj_tab_block_hover > .twoj_tab_block_ul .twoj_tab_block_li:hover .twoj_tab_block_a span,
.twoj_tabs_class12 > .twoj_tab_block_ul .twoj_tab_block_li.twoj-tabs-selected .twoj_tab_block_a span{
	 color: ;
}
 
.twoj_tabs_class12 > .twoj_tab_content{
	border: 1px solid #d5d5d5;
	background-color: #ffffff;
}