/*1a241b1b215df6c9021b15a501990ec3*/
/* @import "custom.scss" */

div.headshot{
    width: 150px;
    height: 262px;
    align: left;
    background-image:url('/images/people/blank.jpg');
}
img.headshot{
    position: relative;
    left: 15px;
    top: 13px;
}
tr, td, th { vertical-align: top; }
select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	display: inline-block;
	height: 30px;
	padding: 4px 6px;
	margin-bottom: 9px;
	font-size: 13px;
	line-height: 18px;
	color: #555;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	vertical-align: middle;
}
.abstr-button {
    width: 100px;
    font-size: 0.7em;
    border: 1px solid #aaaaaa;
    margin: 0;
    padding: 2px 30px 2px 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    -khtml-border-radius: 4px;
    border-radius: 4px;
}
.eventslist{
    width: 100%;
    border:1px solid #cccccc;
    spacing: 1px;
}
table{border:none}th{background:rgba(0, 0, 0, 0.1);padding:0.5rem}td{padding:0.5rem;border:none}

/**
 * =============================================================
 * RAXO All-mode PRO J3.0 - Template CSS
 * -------------------------------------------------------------
 * @package		RAXO All-mode PRO
 * @subpackage	All-mode Default Template
 * @copyright	Copyright (C) 2009-2013 RAXO Group
 * @license		RAXO Commercial License
 * 				This file is forbidden for redistribution
 * @link		http://raxo.org
 * =============================================================
 */


/* ----- RESET Styles ----- */
.allmode-default-sci .allmode-name, .allmode-default-sci .allmode-showall,
.allmode-default-sci .allmode-topitem, .allmode-default-sci .allmode-item,
.allmode-default-sci .allmode-title, .allmode-default-sci img {
	margin: 0; padding: 0;
	background: none; border: 0 none;
}
.allmode-default-sci a {															/* LINKS */
	color: #222222 !important;
	text-decoration: none;
}
.allmode-default-sci a:hover {														/* LINKS Hover */
	color: #222222 !important;
	text-decoration: underline;
}


/* ----- MODULE BOX Styles ----- */
.allmode-default-sci .allmode-name {												/* Module Block NAME */
	margin: 5px 8px 10px;
	font-size: 14px; font-weight: bold;
	color: #373737;
	border-bottom: 1px dashed #dddddd;
}
.allmode-default-sci .allmode-name a {
	font-weight: bold;
	text-decoration: none;
}
.allmode-default-sci .allmode-showall {												/* "Show All" TEXT */
	margin: -4px 12px 0 0;
	text-align: right !important;
}


/* ----- TOP ITEMS Styles ----- */
.allmode-default-sci .allmode-topbox {												/* TOP Items DIV */
	margin: 0 8px 16px;
/*	width: 400px;*/
}
.allmode-default-sci .allmode-topitem {												/* TOP Item DIV */
	margin: 8px 0 0; padding-bottom: 6px;
	overflow: hidden; clear: left;
	border-bottom: 1px dashed #dddddd;
}
.allmode-default-sci .allmode-topitem .allmode-img {								/* TOP Item IMAGE */
	float: left;
	margin: 2px 16px 8px 0; padding: 3px;
	border: 1px solid #8e8c8c;
	background-color: #f6f5f5;
}
.allmode-default-sci .allmode-topitem .allmode-title {								/* TOP Item TITLE */
	margin: 0 0 3px 0 !important;
	font: bold 15px/21px "kelson_sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
.allmode-default-sci .allmode-topitem .allmode-title a {
	font-weight: bold;
}
.allmode-default-sci .allmode-topitem .allmode-text {								/* TOP Item TEXT */
	font: normal 13px/20px ""kelson_sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	color: #373737;
}
.allmode-default-sci .allmode-topitem .allmode-readmore {							/* TOP Item READ MORE */
	float: right;
	margin-right: 4px;
	font: normal 11px/21px "kelson_sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	text-align: right;
}


/* ----- TOP FIELDS Styles ----- */
.allmode-default-sci .allmode-topitem .allmode-details {							/* TOP Item Details DIV */
	margin-bottom: 3px;
	font-size: 12px; line-height: 14px;
	color: #525252;
}
.allmode-default-sci .allmode-topitem .allmode-date {								/* TOP Item DATE */
	padding: 0 10px 0 15px;
	background: url(icons.png) no-repeat 0 3px;
}
.allmode-default-sci .allmode-topitem .allmode-hits {								/* TOP Item HITS */
	padding: 0 10px 0 15px;
	background: url(icons.png) no-repeat 0 -29px;
}
.allmode-default-sci .allmode-topitem .allmode-comments {							/* TOP Item COMMENTS */
	padding: 0 10px 0 15px;
	background: url(icons.png) no-repeat 0 -60px;
}

.allmode-default-sci .allmode-topitem .allmode-info {								/* TOP Item Info DIV */
	margin-top: -4px; padding-bottom: 2px;
	font-size: 11px; line-height: 17px;
	font-style: italic;
	color: #b4b4b4;
}
.allmode-default-sci .allmode-topitem .allmode-section,
.allmode-default-sci .allmode-topitem .allmode-category,
.allmode-default-sci .allmode-topitem .allmode-author {								/* TOP Item SECTION, CATEGORY, AUTHOR */
	padding-right: 5px;
	font-style: normal;
	color: #808080;
}


/* ----- ITEMS Styles ----- */
.allmode-default-sci .allmode-itemsbox {											/* Items DIV */
	margin: 0 8px 8px;
/*	width: 400px;*/
}
.allmode-default-sci .allmode-item {												/* Item DIV */
	margin: 8px 0 0; padding-bottom: 6px;
	overflow: hidden; clear: left;
	border-bottom: 1px dashed #dddddd;
}
.allmode-default-sci .allmode-item .allmode-img {									/* Item IMAGE */
	float: left;
	margin: 2px 16px 8px 0; padding: 2px;
	border: 1px solid #8e8c8c;
	background-color: #f6f5f5;
}
.allmode-default-sci .allmode-img img {
    display: block;
}
.allmode-default-sci .allmode-item .allmode-title {									/* Item TITLE */
	margin: 0 0 3px 0 !important;
	font: bold 11px/14px "kelson_sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
}
.allmode-default-sci .allmode-item .allmode-title a {
	font-weight: bold;
}
.allmode-default-sci .allmode-item .allmode-text {									/* Item TEXT */
	font: normal 12px/17px "kelson_sans", "Helvetica", "Tahoma", "Geneva", "Arial", sans-serif;
	color: #373737;
}
.allmode-default-sci .allmode-item .allmode-readmore {								/* Item READ MORE */
	float: right;
	margin-right: 4px;
	font-size: 11px;
	text-align: right;
}


/* ----- FIELDS Styles ----- */
.allmode-default-sci .allmode-item .allmode-details {								/* Item Details DIV */
	margin-bottom: 2px;
	font-size: 11px; line-height: 13px;
	color: #525252;
}
.allmode-default-sci .allmode-item .allmode-date {									/* Item DATE */
	padding: 0 10px 0 15px;
	background: url(icons.png) no-repeat 0 2px;
}
.allmode-default-sci .allmode-item .allmode-hits {									/* Item HITS */
	padding: 0 10px 0 15px;
	background: url(icons.png) no-repeat 0 -30px;
}
.allmode-default-sci .allmode-item .allmode-comments {								/* Item COMMENTS */
	padding: 0 10px 0 15px;
	background: url(icons.png) no-repeat 0 -61px;
}
.allmode-default-sci .allmode-item .allmode-info {									/* Item Info DIV */
	margin-top: -4px; padding-bottom: 2px;
	font-size: 10px; line-height: 16px;
	font-style: italic;
	color: #b4b4b4;
}
.allmode-default-sci .allmode-item .allmode-section,
.allmode-default-sci .allmode-item .allmode-category,
.allmode-default-sci .allmode-item .allmode-author {								/* Item SECTION, CATEGORY, AUTHOR */
	padding-right: 5px;
	font-style: normal;
	color: #808080;
}


/* ----- RATING Field ----- */
.allmode-default-sci .allmode-rating {												/* Items RATING */
	white-space: nowrap;
}
	.allmode-default-sci .allmode-star {											/* Inactive STAR */
		display: inline-block;
		margin: 0 1px;
		width: 11px; height: 11px;
		background: url(rating.png) no-repeat 0 0;
		zoom: 1; *display: inline; /*IE7 Hack*/
	}
	.allmode-default-sci .allmode-star span {										/* Active STAR */
		display: inline-block;
		width: 100%; height: 100%;
		background: url(rating.png) no-repeat 0 -20px;
	}


img.eventphoto {
    border: 1px solid black;
    margin: 10px 5px 5px 0;
    max-width: 160px;
    padding: 2px;
}

hr {
    margin: 10px 0px !important;
}

h1, h2, h3 {
    line-height: normal !important;
}

#entrytable {
    border: 1px solid black;
    border-spacing: 3px;
}
#entrytable tr>td{
    vertical-align: top;
    font-size: 11px;
    line-height: 15px;
}
#entrytable td input[type="text"]{
    font-size: 11px;
    height: 25px;
    line-height: 15px;
}
#entrytable td input[type="option"]{
    font-size: 11px;
    height: 12px;
    line-height: 15px;
}
.entrytable_lable {
    width: 150px;
    background-color: #dddddd;
    color: black;
    font-weight: bold;
    text-align: right;
    vertical-align: top;
}
#entrytable label {
    display:inline;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
}
#entrytable .btn-small {
  	height: 20px;
    
}
#titleurl{
    display: none;
}
#locationurl{
    display: none;
}
#presenterurl{
    display: none;
}

.input100{
    width: 780px;
}
.input80{
    display: inline;
    width: 680px;
}
.input50{
    display: inline;
    width: 520px;
}
.input40{
    display: inline;
    width: 430px;
}
.input30{
    display: inline;
    width: 326px;
}
.input15{
    display: inline;
    width: 135px;
}
.input5{
    display: inline;
    width: 50px;
}

/********** FULL SIZE CALENDAR ***********/

.cal {
    border:1px solid #cccccc;
    spacing: 1px;
}

.cal_month {
    background-color: #cccccc;
    font:bold 12px verdana;
    text-align: center;
    color: black;
}

.listhead {
    background-color: #cccccc;
    font:bold 12px verdana;
    text-align: left;
    color:black;
}

.cal_month a {
    color:white;
    text-decoration:none;
}

.cal_doweek {
    border:1px solid #cccccc;
    font:normal 12px verdana;
    text-align: center;
    color: black;
}

.cal_today {
    border:1px solid #cccccc;
    font-size: 12px;
    font-family:verdana;
    font-weight:bold;
    color:black;
    background-color: #cccccc;
    padding: 2px;
}

.cal_today a {
    color: black;
    font-weight: bold;
}

.cal_day {
    border:1px solid #cccccc;
    font: bold 12px verdana;
    color:black;
    padding: 2px;
}

.cal_day a {
    color: black;
    font-weight: bold;
}

.cal_noday {
    border:1px solid #cccccc;
    font-size: 12px;
    font-family:verdana;
    color:gray;
    background-color: white;
    padding: 2px;
}

.cal_noday a {
    color: black;
}

.cal_content {
    font-size: 10px;
    font-family:verdana;
    color:gray;
}

/********** MINI CALENDAR ***********/

#minicalendar {
    margin: 0;
    padding: 0;
    width: 275px;
    height: 177px;
}

.minical {
    margin: 0;
    padding: 0;
    width: 275px;
    border-collapse:collapse;
    border:1px solid #cccccc;
}

.minical_month {
    background-color: #ffffff;
    color:black;
    font:bold 12px times;
    text-align: center;
}

.minical_month a {
    color:white;
    text-decoration:none;
}

.minical_doweek {
    width: 25px;
    font:10px times;
    text-align: center;
    color:black;
    border:1px solid #cccccc;
}

.minical_today {
    font-size: 10px;
    font-family: times;
    font-weight:bold;
    color:black;
    background-color:#cccccc;
    border:1px solid black;
    padding: 2px;
}
.minical_today a {
    color: black;
    font-weight: bold;
}

.minical_day {
    font-size: 10px;
    font-family:times;
    color:black;
    padding: 2px;
    border:1px solid #cccccc;
}

.minical_day a {
    color: black;
    font-weight: bold;
}

.minical_noday {
    font-size: 10px;
    font-family:times;
    color:gray;
    background-color: white;
    padding: 2px;
    border:1px solid #cccccc;
}
.minical_noday a {
    color: #999999;
}

.minical_dsemline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:1;
    background-color:#cc9900;
}

.minical_semline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:1;
    background-color:#0000CC;
}

.minical_publicline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:1;
    background-color:#00CC00;
}

.minical_externalline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:1;
    background-color:#0099CC;
}

.minical_meetingline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:0;
    background-color:#00CC33;
}

.minical_defenseline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:0;
    background-color:#993300;
}

.minical_demoline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:0;
    background-color:#666666;
}

.minical_socialline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:0;
    background-color:#CCCC00;
}

.minical_visitline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:0;
    background-color:#9900CC;
}

.minical_deadlineline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:0;
    background-color:#006666;
}

.minical_conferenceline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:0;
    background-color:#330000;
}

.minical_workshopline {
    width: 25px;
    height: 2px;
    margin:0 0 1 0;
    padding:0;
    background-color:#330000;
}

.eventslist{
    width: 100%;
    border:1px solid #cccccc;
    spacing: 1px;
}

.eventslist-cibc{
    width: 100%;
    border:1px solid #cccccc;
    spacing: 1px;
}

.eventslist_head{
    color: black;
    background-color: #cccccc;
    spacing: 1px;
    padding: 3px;
}

.eventslist_row{
    border:1px solid #cccccc;
    spacing: 1px;
    vertical-align: top;
    padding: 3px;
}
