.Mark {
    color: tomato;
}

.TitleLeftCell {
    margin: 20px 0 25px;
    text-align: center;
    line-height: 28px;
}

.pagerTitleCell {
    display: inline;
    margin-right: 20px;
}
.TitleLeftCell a {
    display: inline-block;
    height: 26px;
    margin-left: 5px;
    padding: 0 10px;
    color: #666;
    line-height: 26px;
    text-align: center;
    font-family: Arial,SimSun,"宋体";
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #dedede;
}

.TitleLeftCell a.Mark {
    display: inline-block;
    height: 26px;
    margin-left: 5px;
    padding: 0 10px;
    color: #666;
    line-height: 26px;
    text-align: center;
    font-family: Arial,SimSun,"宋体";
    font-size: 14px;
    color: #fff;
    background-color: #428cdf;
    border: 1px solid #2a68bc;
}

.c {
    display: block;
}

.search {
    position: relative;
    z-index: 10;
    width: 660px;
    margin: 0 auto;
    text-align: left;
}

.search ul {
    margin-left: 0px;
    padding-left: 0px;
    -webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
}

.search .nav li.cur {
    list-style: none;
    background: url(/static/KDNindexspr.png) center 25px no-repeat #fff;
}

.search .nav li {
    list-style: none;
    float: left;
    height: 26px;
    padding: 0 3px 5px;
    font: normal 14px/26px "SimSun","宋体";
}

.search .nav li.cur a {
    text-decoration: none;
    color: #fff;
    background-color: #3192e1;
    border-radius: 2px;
}

#advance_link a.cur {
    text-decoration: none;
    color: #fff;
    background-color: #3192e1;
    border-radius: 2px;
}

.search .nav li a {
    text-decoration: none;
    display: inline-block;
    color: #333;
    padding: 0 6px;
    line-height: 26px;
    cursor: pointer;
}

.search .text {
    float: left;
    width: 518px;
    height: 30px;
    padding: 5px 6px;
    line-height: 30px;
    font-size: 16px;
    border: 2px solid #3192e1;
    white-space: nowrap;
}

.search .mainbtn, .search .mainbtnActive {
    width: 115px;
    height: 44px;
    margin-left: 10px;
    _margin-left: 0;
    text-indent: -999em;
    overflow: hidden;
    background: url(/static/KDNindexspr.png) 0 -7px no-repeat #fff;
    border: 0 none;
    cursor: pointer;
    outline: none;
}

.search .mainbtn:hover {
    background-position: 0 -53px;
    outline: none;
}

.search .extend {
    margin: 20px auto 40px;
    color: #cfcfcf;
    text-align: center;
}

.search .extend a {
    margin: 0 8px;
    color: #555;
    font: normal 12px/2 "SimSun","宋体";
    text-decoration: none;
    cursor: pointer;
}

.latest {
    position: relative;
    z-index: 10;
    /*width: 660px;*/
    margin: 0 auto;
    text-align: left;
}

.detail-table-attr {
    vertical-align: text-top;
}
#ftCon {
    height: 50px;
    bottom: 47px;
    text-align: left;
    width: 100%;
    margin: 0 auto;
    z-index: 0;
    overflow: hidden;
}

.ftCon-Wrapper {
    overflow: hidden;
    margin: 0 auto;
    text-align: center;
}

#ftConw {
    text-align: center;
    margin-left: 0;
    color: #999;
    display: inline-block;
    line-height: 22px;
    position: relative;
    top: -2px;
    font: 12px arial;
    margin: 0;
    padding: 0
}

#ftConw p{
    margin: 0;
    padding: 0
}

#ftConw, #ftConw a {
    color: #999;
}

#lh #seth, #lh #setf {
    margin-left: 0;
}

#lh a {
    margin-left: 25px;
}