#sub-brand { display:none; }

#project { width: 80%; margin: 1em auto; }
#project>div { margin-bottom: 1em; }
#project>div h2 { margin-top: 0.5em; margin-bottom: 0.2em; }

#project #head {
    text-align: center;
    margin: 0 0 1em;
}
#project #head h1 {
    font-size: 22pt;
}
#project #head>div,
#project #head>ul {
    margin: 0 0 1em;
}
#project #head #venue {
    font-style:italic;
    margin-top: 2em;
}

#project #authors {
    list-style: none;
    text-align: center;
    font-size: 1em;
}
#project #authors li {
    display: inline;
    margin: 0 0.5em;
}

#project #abstract { line-height: 130%; }
#project #abstract p { margin-top: 0; }

#project #teaser {
    margin: 1.5em 0;
    text-align: center;
}

#project #teaser p img {
    display: block;
    float: none;
    border: 0;
    margin: 4em auto 1em auto;
}

#project #downloads ul { margin-top: 0.5em; }

#project .formatsample {
   margin-left: 1em;
}

#project #datasets {
    clear: both;
}
#project #datasets>ul {
    margin: 2.5em 0;
    list-style: none;
}
#project #datasets>ul>li {
    clear: both;
}
#project #datasets>ul h3 {
    padding-top:1em;
    margin-top: 0;
    margin-bottom: 0.2em;
    font-size: 1.6667em;
    font-weight: normal;
}
.section { clear: both; margin: 2.5em 0; }
.section h2 { padding-top:1em; margin-top: 0; margin-bottom: 0.2em; }
#project #datasets .preview {
    float: left;
    margin: 0.5em 1.25em 0.5em 0;
}
#project #datasets img {
    border: 2px solid #222;
    margin: 0 0.25em 0 0;
}
#project #datasets ul { margin-top: 0.5em; list-style-position: inside; }