body{
	width:100%;
	position: relative;
	background:#fff;
}

.common-header{
	width:100%;
	min-width: 1204px;
	height:36px;
	background:rgba(235,235,235,1);
}
.common-head{
	width:1204px;
	margin:0 auto;
	height:36px;
	position: relative;
}
.common-head ul{
	position: absolute;
	right:20px;
}
.common-head ul li{
	line-height: 12px;
	float: left;
	padding:0 16px;
	border-left: 1px solid #c7c6c6;
	margin-top: 10px;
	line-height: 17px;
}
.common-head ul li.red{
	color: #666;
	border:none;
	font-size: 12px;
	background:url(../img/index/icon_tel_1.png) no-repeat 0px center;
	width:100px;
	text-indent: 10px;
}
._logoA{
	float: left;
	display:inline-block;
	margin-top: 22px;
}
._logoA img{width:100%;height:100%;}
.lan{
	display:inline-block;
	cursor: pointer;
	padding-left: 10px;
	position: absolute;
	right:-24px;
	width:76px;
	text-align: center;
	height: 38px;
	z-index: 999999;
}
.lan span{
	display:inline-block;
	line-height: 34px;
	color:#999;
	font-size: 12px;
}
.lan span:hover{
	color:#666;
}
.lan ol{
	display: none;
}
.common-head ul>li a{
	padding:0 10px;
	font-size: 12px;
	color:#666;
}
#login-init,#login-out{
	color:#666;
}
#login-init:hover{
	color:#0078d0;
}
#login-out:hover{
	color:#0078d0;
}
.logo-box{
	width:100%;
	min-width: 1204px;
	background:#fff;
	height:80px;
	margin-bottom: 10px;
	border-top: 1px solid #eef1f4;
	border-bottom: 1px solid #eef1f4;
	opacity: 0.95;
	filter:alpha(opacity=95);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=95)";  
}
.logo{
	width:1204px;
	margin:0 auto;
	height:80px;
}
.la a:hover{
	color:#666;
}
.logo-left{
	float: left;
}
#nav{
	margin-left: 40px;
}
.logo-left img,.logo-left ul{
	float: left;
}
.logo-left li{
	float: left;
	line-height: 80px;
	padding: 0 20px 0 20px;
	list-style: none;
}
.logo-left li a{
	display:inline-block;
	padding:0 5px;
	line-height: 33px;
	font-size: 16px;
	color:#333;
} 
 .logo-left li a:hover{
	border-bottom:3px solid #0078d0;
}   
.logo-left li a.changeA{
	border-bottom:3px solid #0078d0;
} 
.logo-right{
	float: right;
	width:292px;
	height:34px;
	border:1px solid #e0e0e0;
	margin-right: 4px;
	position: relative;
	margin-top: 22px;
	border-radius: 17px;
}
.logo-right input{
	float: left;
	width:254px;
	height:34px;
	line-height: 34px;	
	border: none;
	outline: none;
	text-align: left;
	text-indent: 20px;
	border-radius: 17px;
	color:#666;
	font-size: 12px;
}
.search{
	float: left;
	width:21px;
	height: 21px;
	cursor: pointer;
	text-align: center;
	background:url(../img/index/search_nor.png) no-repeat;
	margin-top: 10px;
}
.search:hover{
	background:url(../img/index/search_hov.png) no-repeat;
}
.input-text{
	position: absolute;
	right:60px;
	top:15px;
}
.input-text a{
	display:inline-block;
	padding:0 16px;
	line-height: 18px;
	font-size: 12px;
	color:#757575;
	background:#eee;
	margin-left: 5px;
}
/********登录*******/
.login-bg{
	position: absolute;
	width:100%;
	min-width: 1204px;
	height:100%;
	left:0;
	top:0;
	background:#000;
	opacity: 0.6;
	filter:alpha(opacity=60);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";  
	z-index: 9999999;
	display:none;
}
.login-into{
	display:none;
}
.login-out{
	display:none;
	height:486px;
}
.login{
	width:489px;
	height:380px;
	position: fixed;
	z-index: 999999999999;
	left:50%;
	margin-left:-245px;
	top:50%;
	margin-top: -190px;
	background:#fff;
	/*display:none;*/
}
.login-out{
	display:none;
	height:486px;
	top:50%;
	margin-top: -243px;
}
.login h3{
	font-size: 23px;
	height:85px;
	line-height: 85px;
	text-align: center;
	position: relative;
}
.login h3 span.close{
	position: absolute;
	color:#909090;
	font-size: 26px;
	cursor: pointer;
	right:10px;
	/*top:-28px;*/
	float: right;
    font-weight: 700;
    line-height:normal;
    text-shadow: 0 1px 0 #fff;
    opacity:1;
    filter:alpha(opacity=100);
}
.login-into ul{
	/*margin-top: 50px;*/
	margin-left: 66px;
	min-height:204px;
}
.login li{
	width:379px;
	height:38px;
	margin-bottom: 30px;
	border-radius: 6px;
	position: relative;
}
.login li em{
	position: absolute;
	font-style: normal;
	left:8px;
	top:42px;
	font-size: 14px;
	color: #f00;
	display:none;	
}
.login li em span{
	color: #2683d3;
	cursor: pointer;
}
.login p a.xieyi{
	display: inline-block;
    height: 42px;
    line-height: 42px;
    cursor: pointer;
    color: #0078d0;
    padding-right: 20px;
    font-style: normal;
}
a.xieyi:hover{
	color: #0078d0;
}
.login li input{
	width:377px;
	height:38px;
	line-height: 38px;
	border: 1px solid #e0e0e0;
	outline: none;
	text-indent: 6px;
	border-radius: 6px;
}
.login li .login-btn{
	width:378px;
	height:50px;
	text-align: center;
	color:#fff;
	line-height: 50px;
	font-size: 12px;
	background:#0078d0;
	cursor: pointer;
	border:none;
	outline: none;
}
.login h6{
	width:356px;
	height:42px;
	margin:0 auto;
	line-height: 42px;
	text-align: left;
	font-size: 12px;
	color:#8c8c8c;
	font-weight: normal;
}
.login h6 a{
	color:#0078d0;
}
.login p{
	width:356px;
	height:42px;
	margin:0 auto;
	line-height: 42px;
	text-align: left;
	font-size: 12px;
	color:#8c8c8c;
}
.login p b{
	font-weight: normal;
}
.login p b:first-child{
	float: left;
}
.login p b:last-child{
	float: right;
}
.login p span{
	display:inline-block;
	height:42px;
	line-height: 42px;
	cursor:pointer;
	color:#0078d0;
	background:url(../img/b_03.jpg)no-repeat right center;
	padding-right: 20px;
}
.login p a{
	color:#8c8c8c;
}

.login-out ul{
	margin-top: 20px;
	margin-left: 66px;
	min-height:204px;
}
.login-out p{
	margin-top: 25px;	
}
.login-out li.code input{
	width:222px;
	height:38px;
	line-height: 38px;
	border: 1px solid #e0e0e0;
	outline: none;
	text-indent: 6px;
	float: left;
}
#yz{
	float: left;
    height: 38px;
    display: inline-block;
    width: 133px;
    border: 1px solid #e0e0e0;
    background: #0078d0;
    font-size: 12px;
    color: #fff;
    text-align: center;
    line-height: 38px;
    cursor: pointer;
    margin-left: 20px;
    display: inline;
    display: table;
    outline: none;
}
.login-out li.code span{
	float: left;
	height:38px;
	display:inline-block;
	width:133px;
	border: 1px solid #e0e0e0;
	background:#0078d0;
	font-size: 12px;
	color: #fff;
	text-align: center;
	line-height: 38px;
	cursor: pointer;
	margin-left: 20px;
	display:inline;
	display:table;
}
.login-out li.pic-code input{
	width:222px;
	height:38px;
	line-height: 38px;
	border: 1px solid #e0e0e0;
	outline: none;
	text-indent: 6px;
	float: left;
}
.login-out li.pic-code span{
	float: left;
	height:38px;
	display:inline-block;
	width:133px;
	font-size: 12px;
	color: #9090a0;
	text-align: center;
	line-height: 38px;
	margin-left: 20px;
	display:inline;
	display:table;
	cursor: pointer;
}
.lose{
	width:375px;
	min-height:152px;
	background:#fff;
	position: absolute;
	z-index: 99999999999;
	left:48%;
	margin-left: -188px;
	top:240px;
	border-radius: 12px;
	display:none;
}
.lose h2{
	font-size: 21px;
	text-align: center;
	line-height: 87px;
}
.lose button{
	width:125px;
	height:39px;
	text-align: center;
	line-height: 39px;
	background: #0078d0;
	display:block;
	margin: 0 auto;
	color: #fff;
	font-size: 12px;
	border:none;
	outline: none;
	cursor: pointer;
}
.time{
	font-weight: normal;
}
.brand{
	position: fixed;
	width:462px;
	height:230px;
	top:50%;
	margin-top: -115px;
/*	display:block;*/
}
.brand h5{
	font-size: 20px;
	margin: 19px 0 14px 0;
	font-weight: normal;
	text-align: center;
}
.brand h5 span{
	position: absolute;
	font-size: 20px;
	color:#949494;
	cursor: pointer;
	padding-right: 10px;
	right:2px;
	top:2px;
}
.brand ul{
	margin: 32px 0 0 134px;
}
.brand ul li{
	line-height: 28px;
	font-size: 14px;
}
.brand button{
	margin-top: 17px;
	cursor: pointer;
}



/*页脚*/
.foot{
	width:100%;
	height:320px;
	background:#1e1e1e;
	position: relative;
	min-width: 1204px;
}
.foot p{
	position: absolute;
	width:664px;
	color: #dcdcdc;
	font-size: 12px;
	left:50%;
	margin-left:-332px;
	z-index: 68;
	bottom:9px;
	text-align: center;
}
.footer{
	position: absolute;
	width:100%;
	height:284px;
	border-bottom:2px solid #2d2d2d;
	background:#232323;
	top: 0px;
	left: 0;
}
.footer ul{
	width:1204px;
	margin:0 auto;
	margin-top: 36px;
}
.footer ul>li{
	float: left;
	height:168px;
	border-left:1px solid #2e2e2e; 
	padding-top: 48px;
}
.footer ul li.foot-left{
	width:360px;
	border:none;
	margin:0 110px;
}
.foot-left ol{
	float: left;
	width:33%;
	text-indent: 46px;
}
.foot-left ol li{
	width:100%;
	color:#fff;
	text-align: left;
	line-height: 28px;
	font-size: 14px;

}
.foot-left ol li a{
	color:#727272;
	font-size: 14px;
}
.foot-left ol li a:hover{
	color:#fff;
	opacity: .6;
	filter:alpha(opacity=60);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=60)";  
}
.foot-left ol li.liTit{
	margin-bottom: 5px;
}
.foot-center{
	width:284px;
}
.foot-center dl{
	width:100%;
	text-align: center;
}
.foot-center h1{
	font-size: 21px;
	color:#fff;
	font-weight: normal;
	text-indent: 28px;
	background:url(../img/index/icon_tel_2.png) no-repeat 53px center;
}
.foot-center h3{
	font-size: 12px;
	color:#dcdcdc;
	line-height: 43px;
	font-weight: normal;
	margin-bottom: 20px;
}
.foot-center span{
	display:inline-block;
	width:178px;
	height:32px;
	text-align: center;
	line-height: 32px;
	color:#fff;
	font-size: 14px;
	background:#2183e2;
	cursor: pointer;
	border-radius: 17px;
}
.foot-right{
	width:160px;
	padding-left: 57px;
	text-align: center;
}
.foot-right dd{
	color:#fff;
	margin-top: 5px;
	font-size:14px;	
}




/*右侧导航*/
.side-right{
	position: fixed;
	width:48px;
	right:16px;
	top:60%;
	z-index: 99999999999999999999999999;
}
.side-right li{
	width:48px;
	height:48px;
	margin-bottom: 5px;
	position: relative;
	
}
.side-right li a{
	display:block;
	width:64px;
	height:48px;
	position: relative;
	z-index: 9999999999999;
/*	background:#f5f5f5;
*/}
.side-right li a.oli{
	background:url(../img/index/right-bar_QQ_nor.png)no-repeat;
}
.side-right li a.ooli{
	background:url(../img/index/right-bar_QQ_hov.png)no-repeat;
}
.side-right li a.tli{
	background:url(../img/index/right-bar_tel_nor.png)no-repeat;
}
.side-right li a.ttli{
	background:url(../img/index/right-bar_tel_hov.png)no-repeat;
}
.side-right li a.sli{
	background:url(../img/index/right-bar_edit_nor.png)no-repeat;
}
.side-right li a.ssli{
	background:url(../img/index/right-bar_edit_hov.png)no-repeat;
}
.side-right li a.fli{
	background:url(../img/index/right-bar_top_nor.png)no-repeat;
}
.side-right li a.ffli{
	background:url(../img/index/right-bar_top_hov.png)no-repeat;
}
.side-right li span{
	position: absolute;
	min-width: 103px;
	height:34px;
	line-height: 34px;
	text-indent: 25px;
	background:url(../img/index/bar_short.png) no-repeat;
	left:-100px;
	top:6px;
	color: #fff;
	z-index: 22;
	display:none;
}
.side-right li span.pho{
	width:142px;
	height:34px;
	line-height: 34px;
	background:url(../img/index/bar_long.png) no-repeat;
	left:-145px;
}
.side-right li.tli span{
/*	left:-108px;
*/}
.side-right li span em{
	position: absolute;
	width:6px;
	height:9px;
	background:url(../img/s_07.jpg) no-repeat;
	right:-5px;
	top:50%;
	margin-top: -5px;
}


/*定制*/
._flow{
	width:520px;
	height:390px;
	background:#fff;
	position: fixed;
	left:50%;
	margin-left: -260px;
	top:50%;
	margin-top: -195px;
	z-index: 8888888888888;
	display:none;
	border-radius:20px;
}
._flow h3{
	background-image:linear-gradient(-180deg, #3196ff 0%, #1c7bde 100%);
	width:520px;
	height:68px;
	text-align: center;
	color:#fff;
	line-height: 68px;
	font-size: 18px;
	font-weight: normal;
	border-radius: 20px 20px 0 0;
	margin-bottom: 40px;
}
.floor{
	width:404px;
	height:102px;
	margin:0 auto;
}
.floor span{
	float: left;
	font-size: 14px;
	color:#666;
	width:82px;
	text-align: right;
	line-height: 42px;
	margin-right: 4px;
}
._flow ul{
	float: left;
	width:537px;
}
._flow ul li{
	float: left;
	margin-left: 7px;
	padding:0 14px;
	height:35px;
	text-align: center;
	line-height: 35px;
	border:1px solid #d0d0d0;
	color: #666666;
	font-size: 16px;
	margin-bottom: 9px;
	border-radius: 4px;
	cursor: pointer;
	display: inline;
}
._flow ul li._change{
	background:#f77b04;
	color:#fff;
}
.bttn{
	display:block;
	cursor: pointer;
	color: #fff;
	font-size: 14px;
	background:#1d7cdf;
	border-radius:100px;
	width:150px;
	height:42px;
	border: none;
	outline: none;
	margin:0 auto;
}
#next{
	margin-top: 44px;
}
._flow button._btn{
	display:block;
	width:198px;
	height:50px;
	margin:0 auto;
	border: none;
	outline: none;
	border-radius: 3px;
	cursor: pointer;
	font-size: 14px;
	background: #f77b04;
	color: #fff;
}
.area{
	float: left;
	margin-left: 7px;
	display:inline;
	border:1px solid #dcdcdc;
	border-radius:5px;
	width:288px;
	height:78px;
}
.area textarea{
	width: 272px;
	height:62px;
	border:none;
	outline: none;
	overflow: hidden;
	border-radius: 5px;
	padding:8px;
	line-height: 26px;
}
.area p{
	font-size: 12px;
	line-height: 38px;
	color: #ff5b13;
	padding-left: 6px;
	display: none;
}
.pho{
	float: left;
	width:288px;
	margin-left: 7px;
	display:inline;
}
.pho input{
	border:1px solid #dcdcdc;
	border-radius:5px;
	width:288px;
	height:40px;
	font-size: 12px;
	text-indent: 8px;
}
.pho p{
	position: absolute;
	font-size: 12px;
	line-height: 38px;
	color: #ff5b13;
	padding-left: 6px;
	display: none;
}
.closeOff{
	position: absolute;
	font-size: 34px;
	right:10px;
	top:0px;
	color: #00453d;
	opacity: .5;
	filter:alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  
}
.closeOff:hover{
	color: #00453d;
	opacity: .5;
	filter:alpha(opacity=50);
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";  
}
.result>div{
	width:116px;
	height:116px;
	margin: 0 auto;
	margin-top: 30px;
	margin-bottom: 4px;
}
.result p{
	width: 168px;
	height:40px;
	line-height: 20px;
	font-size: 14px;
	color: #666;
	text-align: center;	
	margin: 0 auto;
	margin-bottom: 48px;
}





.dz{
	width:100%;
	min-width: 1204px;
	max-height:550px;
	position: relative;
}
.want{
	width:100%;
	max-height:550px;
}
.want img{
	width:100%;
	height:auto;
}
.customization{
	position: absolute;
	width:450px;
	height:186px;
	left:40%;
	top:50%;
	margin-left: -216px;
	margin-top: -93px;
}
.customization h2 em{
	color:#ffd200;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
}
.customization h2 span{
	display:inline-block;
	color:#fff;
	font-size: 18px;
	font-weight: normal;
	margin: 12px 0 40px 0;
	word-spacing:3px;
	letter-spacing: 3px;
}
.productUpBtn{
	width:567px;
	margin: 0 auto;
}
.productUpBtn a{
	display:inline-block;
	width:148px;
	height:46px;
	text-align: center;
	font-size: 18px;
	border:1px solid #008edd;
	border-radius: 23px;
	line-height: 46px;
	color:#008edd;
}
.productUpBtn a:hover{
	color:#fff;
	background:#008edd;
	border:1px solid #008edd;
}