body,html{
	width:100%;
	background:#f5f5f5;
	position: relative;
	min-width: 1204px;
}
mark{
	color:#a10;
	padding:0;
}

.tab{
	width:1204px;
	height:519px;
	margin:0 auto;
	position: relative;
	margin-top:-55px;
}
.tab-left{
	width:244px;
	position: absolute;
	z-index: 88;
	background:#0078d0;
	height:519px;
	left:0;
	top:0px;
}
.tab-left ol{
	margin-top: 15px;
}
.tab-left ol li{
	height: 51px;
	width:244px;
	line-height: 51px;
	margin-top: 3px;
}
.tab-left ol li img{
	width:14px;
	margin:0 10px;
	margin-bottom: 6px;
}
.tab-left ol li>a{
	padding-left: 3px;
	font-size: 14px;
	color: #fff;
	width:200px;
	display:inline-block;
	background: url(../img/left_03.png)no-repeat 180px center;
}
.tab-left ol li .box{
	width: 334px;
	height:500px;
	position: absolute;
	top: 0;
	left: 244px;
	background: #fff;
	z-index: 99;
	display: none;
	box-shadow: 0 1px 4px #ececec;
	padding:19px 27px 0 30px;
}
.title{
	color:#f77b04;
	font-size: 14px;
	height:38px;
	line-height: 38px;
	border-bottom: 1px solid #ececec;
	font-weight: normal;
}
.box-con{
	width:100%;
	min-height: 78px;
	margin-bottom: 5px;
}
.box-con a{
	font-size: 14px;
	color: #8d8d8d;
	padding: 17px 16px 0 0;
}
.tit{
	position: absolute;
	width:281px;
	left:50%;
	margin-left:-140px;
	top:382px;
}
.tit>div{
	display:inline-block;
}
.line{
	width:67px;
	height:1px;
	background:#dddddd;
	margin-bottom: 4px;
}
.tit-con{
	width:134px;
	text-align: center;
	font-size:17px;
	color:#333; 
}
.btn{
	position: absolute;
	width:280px;
	left:50%;
	margin-left: -140px;
	top:446px;
}
.btn a{
	display:inline-block;
	width:80px;
	height:46px;
	padding-left: 32px;
	line-height: 46px;
	margin: 0 14px;
	color:#fff;
	font-size: 14px;
}
.custom{
	background: url(../img/p_03.png) no-repeat 16px 16px,#f77a04;

}
.un{
	background: url(../img/p_06.png) no-repeat 16px 16px,#f77a04;
}


.item{
	width:1204px;
	margin: 0 auto;
	margin-top: 40px;
	position: relative;
}
.product{
	min-height:742px;
}
.item h1{
	height:66px;
	text-align: center;
	margin: 0 auto;
	line-height: 66px;
}
.item h1.sc{
	width:205px;
	background:url(../img/index/title_products.png) no-repeat;
	margin-top: 95px;
}
.fw{
	width:257px;
	background:url(../img/index/title_advantgage.png) no-repeat;
}
.item .item-line{
	position: absolute;
	width:315px;
	height:1px;
	background:#c4c4c4;
	left:50%;
	margin-left: -158px;
	top:56px;
}
.list{
	/*height:196px;*/
	margin-top: 46px;
}
.list h2{
	font-size: 16px;
	border-left-width:3px;
	border-left-style: solid;
	color:#333;
	margin-bottom: 10px;
	width:101px;
	padding-left: 7px;
	position: relative;
}
.list h2 span{
	position: absolute;;
	width:23px;
	height:13px;
	text-align: center;
	line-height: 13px;
	background:#ff6309;
	border-radius: 2px;
	color:#fff;
	font-size: 8px;
	right: 2px;
	top:2px;

}
.list .p{
	width:416px;
	font-size: 12px;
	line-height: 26px;
	color: #8d8d8d;
}
.list>div{
	height:98px;
	padding-left: 10px;
}
.list-top>div{
	width:49%;
	display:inline-block;
}
.list-bottom>div{
	width:49%;
	display:inline-block;
}

div.pic{
	width:100%;
	/*max-height: 1796px; */
	background:#fff;
	padding: 0;
	padding-top: 4px;
	position: relative;
}
.list>div.pic{
	height:auto;
}
.pic-lock{
	/*max-height:1734px;*/
	/*overflow: hidden;*/
}
.pic>a{
	 float: left;
	width:274px;
	height:270px;
	margin: 15px 8px 0 17px; 
}
.pic dl{
	float: left;
	width:274px;
	height:270px;
	/*margin: 15px 8px 0 17px;*/
	cursor: pointer;
}
.pic dl dt{
	width:274px;
	height:154px;
	margin-bottom: 14px;
	overflow: hidden;
}
.pic dl dt img{
	width:100%;
	height:100%;
}
div.pic img:hover{
	-webkit-transition:all 1s;
	-webkit-transform:scale(1.2);/*1.2指的是放大的倍数*/
}
.pic dl dd{
	width: 262px;
	padding-left: 12px;
}
.pic h3{
	font-size: 16px;
	color:#333;
	height:26px;
	line-height: 26px;
	font-weight: normal;
	margin: 16px 0 14px 0;
}
.pic p{
	position:relative;
	line-height: 20px;
	font-size: 12px;
	color:#666;
	height:40px;
	overflow : hidden; 
  	text-overflow: ellipsis;
  	display: -webkit-box;
  	-webkit-line-clamp: 2;
  	-webkit-box-orient: vertical; 
}
.pic p:after {
    content:"";
    font-weight:bold;
    position:absolute;
    bottom:0;
    right:0;
}

.list>div.more{
	padding: 0;
	width:184px;
	height:50px;
	/*border:1px solid #ddd;*/
	text-indent: 50px;
	line-height: 50px;
	color:#666;
	cursor: pointer;
	font-size: 16px;
	background: url(../img/index/unfold.png) no-repeat 120px center;
	/*border-radius: 25px;*/
	margin:0 auto;
	margin-top: 20px;
	display:none;
}
.more:hover{
	color:#0078d0;
}
.more span{
	color:#8d8d8d;
	padding:0 5px;
}
.banner1{
	height:173px;
}
.dz{
	width:100%;
	min-width: 1204px;
	max-height:550px;
	position: relative;
}
.want{
	width:100%;
	max-height:550px;
}
.want img{
	width:100%;
	height:auto;
}
.customization{
	position: absolute;
	width:450px;
	height:186px;
	left:40%;
	top:50%;
	margin-left: -216px;
	margin-top: -93px;
}
.customization h2 em{
	color:#ffd200;
	font-size: 48px;
	font-weight: normal;
	font-style: normal;
}
.customization h2 span{
	display:inline-block;
	color:#fff;
	font-size: 18px;
	font-weight: normal;
	margin: 12px 0 40px 0;
	word-spacing:3px;
	letter-spacing: 3px;
}
.upbtn{
	width:567px;
	margin: 0 auto;
}
.upbtn a{
	display:inline-block;
	width:148px;
	height:46px;
	text-align: center;
	font-size: 18px;
	border:1px solid #fff;
	border-radius: 23px;
	line-height: 46px;
	color:#fff;
}
.upbtn a:hover{
	color:#008edd;
	background:#fff;
	border:1px solid #008edd;
}
.serve{
	width:100%;
	min-height:378px;
	background:#fff;
	padding-top: 32px;
	margin-top: 40px;
	min-width: 1204px;
}
.dl{
	width:1204px;
	margin:0 auto;
	margin-top: 74px;
}
.dl dl{
	width:200px;
	float:left;
	text-align: center;
	margin: 0 20px;
	display:inline;
}
.dl dl dt{
	margin-bottom: 52px;
	width:200px;
	height:200px;
	position: relative;
}
.outItem{
	width:100%;
	height:100%;
	-webkit-transition:all 2s;
}
.outItem1{
	background: url(../img/index/circle1.png) no-repeat;
}
.outItem2{
	background: url(../img/index/circle2.png) no-repeat;
}
.outItem3{
	background: url(../img/index/circle3.png) no-repeat;
}
.outItem4{
	background: url(../img/index/circle4.png) no-repeat;
}
.outItem5{
	background: url(../img/index/circle5.png) no-repeat;
}
.init{position: absolute;width:105px;height:105px;left:50%;margin-left: -52px;top:50%;margin-top: -52px;}
.dl dl dd{
	font-size: 18px;
	color:#333;
}
.dl dl dd.dp{
	margin: 0 auto;
	text-align: left;
	font-size:12px;
	color:#999;
	margin-top: 28px;
	margin-bottom: 120px;
}

















@media screen and (min-width: 320px) {
    
}





































































