.wrapper{position: relative;margin: 0px auto;max-width:1920px;max-height: 800px;margin-top: -10px;}
.banner{width:100%;max-height: 800px;overflow: hidden;}
.imgList{width:100%;max-height: 800px;z-index: 10;}
.imgList li{display: none;}
.imgList li:first-child{display: inline;}
.indexList{position: absolute;right: 49%;bottom: 20px;z-index: 30;}
.indexList li{float: left;width:10px;height:10px;margin:0 8px 0 0px;  text-align:center;background:#bbbbbb;z-index:10;cursor:pointer;border-radius: 50%;cursor: pointer;}
/*.indexList li:first-child{background: red;font-weight: bold;color: white;}*/
.indexList .indexOn{background: #fff;font-weight: bold;color: white;}
.imgList img{width:100%;height:100%;}
