@charset "utf-8";
html,
body {
	font-family:  "Microsoft YaHei", tahoma;
}

body {
	padding-top: 50px;
}
ol,ul{list-style: none;}
a,a:hover, a:focus{text-decoration: none;}
.animated{-webkit-animation-duration:1s;animation-duration:1s;-webkit-animation-fill-mode:both;animation-fill-mode:both}
@-webkit-keyframes bounce {
  0%,100%{
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    margin-top:0px;
  }

  50% {
    -webkit-animation-timing-function:ease-in;
    animation-timing-function: ease-in;
    margin-top:-10px;
  }
  90% {
    margin-top:-2px;
  }
}

@keyframes bounce {
  0%,100%{
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
    margin-top:0px;
  }

  50% {
    -webkit-animation-timing-function:ease-in;
    animation-timing-function:ease-in;
    margin-top:-10px;
  }

  90% {
    margin-top:-2px;
  }
}
h2{text-shadow: 0px 3px 2px #dedede;}
.mo-re{ margin:30px auto; font-size:20px; text-align: center;}
.mo-re p{border:1px solid #4598E3; padding:5px 15px;  display: inline-block; height: 39px; overflow: hidden;}
.mo-re a{transform: translateY(0px); display: inline-block; transition:all 0.2s ease-out;}
.mo-re a:hover{transform: translateY(-29px);}
/*-------------------公共部分结束------------------------*/
.nav{ position: relative; }
.collapse{ display: block; visibility:visible;}
.search {
    -webkit-box-shadow: none;
    box-shadow: none;
    font-size: 16px;
    padding: 13px 0px;
    border-radius: 0;
    height: auto;
    position: absolute;
    width:0px;bottom:6px; 
    border-width: 0px;
}
.dropdown-menu{padding:0px; border:none;box-shadow: 0 3px 4px rgba(0,0,0,.175);}
.dropdown-menu li a{ padding:0px 5px; text-align: center;}

/*--------------------导航部分结束-------------------------*/

.footer{ text-align: center; font-size:16px; background-color: #f5f5f5; padding:40px;  line-height: 2;    border-top: 1px solid #f0f2f5;}
/*--------------------网站底部结束-------------------------*/

.xg{line-height:2;}
.xg h4{ border-bottom: 1px solid #EFEFEF; position: relative;  overflow: hidden;white-space: nowrap;text-overflow: ellipsis; padding-bottom: 8px;}
.xg h4:before{    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background-color: #4598E3;
    bottom: 0px;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;}
.xg h4:hover:before {
    width: 100%;
    transition: all 0.6s cubic-bezier(0.215, 0.61, 0.355, 1) 0s;
}
.xg p{text-indent: 2em; text-align:left; height: 84px; overflow: hidden; width:100%;}
.xg .col-sm-6{ padding:0px 30px; opacity: 0; }
/*--------------------相关阅读结束-------------------------*/

.news .sidebar{overflow: hidden;}
.news .sidebar ul{ position:relative; }
.news .sidebar ul .colse:before{ position: absolute; right:0px;top:0px;width:30px;height:30px; content: '×'; font-size: 30px;  line-height: 30px; color:#fff;  cursor: pointer;}
.news .sidebar .open{ position: absolute;left:0px;top:0px;width:0px; text-align: center; background-color:#4598E3;color:#fff;border-radius: 0px 5px 5px 0px; padding:4px 0px;  cursor: pointer;}
/*--------------------栏目列表结束-------------------------*/


/*顶部导航*/

.top-box {
	height: 50px;
	margin-bottom: 0;
	z-index: 16;
}

.top-box .navbar-collapse {
	border: none;
}

.top-box .navbar-brand {
	/*height: 50px;
	padding: 10px;*/
	font-size:30px;color:#4598E3;
}

.top-box .navbar-brand img {
	height: 100%;
}

.top-box .navbar-toggle {
	margin-top: 8px;
}

.top-box .navbar-nav {
	margin-top:15px !important;
}

.top-nav li a {
	line-height: 30px;
	font-size: 14px;
	text-align: center;
	/*background: #fff !important;*/
}

.top-nav li.active a,
.top-nav li a:hover {
	color: #4E97D9 !important;
}

.common-title {
	text-align: center;

}

.common-title h2 {
	font-size: 20px;

	margin-top: 10.px;
	margin-bottom: 30px;
	margin-top: 10px;
}

.common-title span {
	display: block;
	font-size: 18px;
	color: #b2b2b2;
	margin-bottom: 15px;
}

.common-title p {
	text-align: center;
	font-size: 0;
	margin-bottom: 0;
}

.common-title p i {
	display: inline-block;
	width: 50px;
	height: 1px;
	margin: 0 2px;
	background: #a4a4a4;
}

.common-title p i:first-child {
	background: #009944;
}


/*页脚*/

.zjlist {
/*	background: #f5f5f5;*/

	padding-top: 30px;
	padding-bottom: 30px;
}

.zjlist .thumbnail {
	background: #f5f5f5;
	border: none;
	text-align: center;
	font-size: 12px;
	margin-bottom: 0;
}
.bread {
/*	font-size: 0;*/
	background: #fff;
	border-bottom: 2px solid #4598E3;
	border-radius: 0;
	margin-bottom: 30px;
	margin-top: 30px;
	padding:10px 0;
}
.bread li,.bread li a{
	font-size: 16px;
	color: #808080;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bread li:last-child{
	width: 140px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.bread .active{
	color: #4598E3;
}

/*首页--新闻中心*/

.news {
	padding-top: 40px;
	padding-bottom: 40px;
}

.news .news-content {
	margin-top: 40px;
}

.news .news-content p {
	margin-bottom: 0;
}

.news .thumbnail {
	overflow: hidden;
}

.news .thumbnail img {
	width: 100%;
}

.news .news-content .caption {
	padding: 0px 9px 20px 9px;
	border-bottom: 1px solid #ccc;
	color: #333;
}

.news .news-content .caption h3 {
	margin-bottom: 12px;
	font-size: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news .news-content .caption p {
	font-size: 14px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.news .news-des {
	padding: 20px 9px 20px 9px;
	color: #b2b2b2;
}

.news .news-des p {
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

.news-more {
	font-size: 0;
}

.news-more .date,
.news-more .more {
	display: inline-block;
	width: 50%;
	text-align: center;
	background: #e5e5e5;
	line-height: 40px;
	font-size: 12px;
	color: #4c4c4c;
}

.news-more .date {
	box-sizing: border-box;
	border-right: 1px solid #fff;
}


/*首页--公司简介*/

.introduce {
	text-indent: 0em;
	padding-top: 40px;
	padding-bottom: 20px;
	background: url(../img/4.png) no-repeat center;
	background-size: cover;
}

/*.introduce .common-title,
.video .common-title {
	color: #fff;
}*/

.introduce .common-title span,
.video .common-title span {
	color: #fff;
}

.introduce .common-title p i:last-child,
.video .common-title p i:last-child {
	background: #fff;
}

.introduce .intro-content {
	margin-top: 40px;
	padding: 0 15px;

	line-height: 1.6;
	font-size: 14px;
}

.introduce .intro-content a {
	font-size: 14px;
	margin-top: 50px;
}


/*首页--产品中心*/

.product {
	padding-top: 40px;
	padding-bottom: 40px;
}

.pro-content>div {
	padding-left: 10px;
	padding-right: 10px;
}

.pro-content .pro-content-item {
	border-radius: 4px;
	position: relative;
	border: 1px solid #ccc;
	overflow: hidden;
	/*margin-top: 20px;*/
}

.pro-content .pro-content-item img {
	width: 100%;
}

.pro-content .pro-content-item p{
	position: absolute;overflow: hidden;
	width: 100%;
	left: 0;
	bottom: 0;
	color: #fff;
	background: rgba(0, 0, 0, 0.3);
	margin-bottom: 0;
	height:100%;
	text-align: center;
	 z-index: 2;
}


/*首页--视频中心*/

.video {
	background: url(../img/index-videoBg.jpg) no-repeat center;
	background-size: cover;
	padding-top: 40px;
	padding-bottom: 40px;
}

.video-content {
	margin-top: 20px;
}

.video .nav-tabs {
	border-bottom: none;
}

.video-tab li {
	margin-top: 10px;
	width: 33.3333%;
	float: left;
	box-sizing: border-box;
	padding: 4px;
}

.video-tab li:first-child {
	margin-top: 0;
}

.video-tab li a {
	background: #4598E3;
	border-radius: 4px;
	font-size: 14px;
	color: #fff;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.video-tab li a:hover,
.video-tab>li.active>a,
.video-tab>li.active>a:hover,
.video-tab>li.active>a:focus {
	background: #4598E3;
	color: #fff;
	border: 1px solid #4598E3;
}

.video-tab-cont {
	margin-top: 20px;
}


/****侧边导航****/
.about {
	padding-top: 40px;
	padding-bottom: 40px;
}
.mobile-nav {
	
}
.mobile-nav .mobile-nav-title {
	background: #4598E3;
	color: #fff;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.mobile-nav .mobile-nav-title p {
	margin-bottom: 0;
}
.mobile-nav-item{
	font-size: 0;	
}
.mobile-nav-item a{
	display: inline-block;
	width: 50%;
	font-size: 14px;
	text-align: center;
	color: #fff;
	background: #4598E3;
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 10px;
}
.mobile-nav-item a{
	border-right: 2px solid #fff;
}

.sidebar ul,
.sidebar ul li {
	list-style: none;
	padding: 0;
}
.sidebar ul li {
	margin-bottom: 10px;
	background: #4598E3;
	text-align: center;
}

.sidebar ul li.sidebar-title {
	background: #4598E3;
	color: #fff;
	border-radius: 4px;
	text-align: center;
	padding-top: 20px;
	padding-bottom: 10px;
	font-size: 18px;
}

.sidebar ul li.sidebar-title h3,
.mobile-nav .mobile-nav-title h3 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 24px;
}

.sidebar ul li.sidebar-title p:before,
.sidebar ul li.sidebar-title p:after,
.mobile-nav .mobile-nav-title p:before,
.mobile-nav .mobile-nav-title p:after {
	content: "";
	display: inline-block;
	width: 10%;
	height: 1px;
	vertical-align: middle;
	background: #fff;
}

.sidebar ul li.sidebar-item a {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	color: #fff;
	font-size: 18px;
}

.right-content .content-title{
	font-size: 16px;
	color: #4598E3;
	margin-bottom: 20px;
}
.right-content .content-title small{
	color: #4598E3;
}

.about-content-des ,.about-content-honor{
	border-top: 2px solid #7db079;
}
.about-content-des p{
	color: #808080;
}
.honor-pic{
	border: 1px solid #ccc;
	padding: 15px;
}


/*新闻列表页*/
.news-list .row{
	margin-bottom: 20px;
}
.news-pic{
	margin-bottom: 20px;
}
.news-text h3 a,.news-text p a{
	color: #333;
	text-decoration: none;
}
.news-list a.readmore{
	display: inline-block;
	color: #fff;
	background: #4598E3;
	border-radius: 4px;
	padding: 4px 15px;
	margin-bottom: 5px;
	text-decoration: none;
}
.news-text h3{
	margin-top: 0;
	margin-bottom: 10px;
	font-size: 22px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-text p{
	font-size: 16px;
	text-indent: 2em;
	margin-bottom: 15px;
	overflow : hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.news-text span{
	font-size: 13px;
	color: #999999;
}
.page-box{
	text-align: center;
	margin-top: 20px;
}
.page-box li a{
	color: #999999;
}
.page-box li.active a{
	color: #fff;
	background: #4598E3;
}

.news-detail-title{
	font-size: 12px;
	color: #999;
	margin-bottom: 20px;
}
.news-detail-title h2{
	color: #4598E3;
	font-size: 18px;
	margin-top: 0;
	margin-bottom:15px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.news-detail-title span{
	padding-right: 20px;
}



/*客服中心*/
.service{
	padding:10px;

}
.service .service-content h3{
	margin-top: 0;
	color: #333;
	font-size: 18px;
}
.service-content .row{
	padding-top: 20px;
	padding-bottom: 20px;
	border-top: 1px solid #ccc;
	margin:40px 0px 0px;
}
.service-content .row p{
	color: #999;
}

/*招商加盟*/
.investment{
	padding-top: 40px;
	padding-bottom: 40px;
}
.investment-content ul{
	list-style: none;
	padding: 0;
}
.investment-content ul li>div{
	margin-bottom: 20px;
}
.investment-content ul h3{
	display: inline-block;
	background: #4598E3;
	color: #fff;
	font-size: 18px;
	padding: 10px;
}
.investment-content ul h5{
	color: #4598E3;
	font-size: 18px;
}

@media only screen and (min-width:768px) {
	/*顶部导航*/
	.top-nav li a {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	/*页脚*/
	.zjlist {
		padding-top: 30px;
	}
	.zjlist .thumbnail {
		font-size: 16px;
	}
	/*首页--视频中心*/
	.video-tab .video-tab-title h3 {
		margin-top: 0;
		margin-bottom: 0;
		background: #4598E3;
		color: #fff;
		padding: 20px 20px;
		text-align: center;
	}
	.video-content {
		margin-top: 40px;
	}
	.video-tab li {
		background: #fff;
		clear: both;
		margin-top: 10px;
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
		box-sizing: border-box;
		padding: 0;
	}
	.video-tab li:first-child {
		margin-top: 0;
	}
	.video-tab li a {
		background: #fff;
		padding: 24px 0 24px 10;
		border-width: 0 0 0 6px;
		border-color: #4598E3;
		font-size: 14px;
		color: #4598E3;
	}
	.video-tab li a:hover,
	.video-tab>li.active>a,
	.video-tab>li.active>a:hover,
	.video-tab>li.active>a:focus {
		border-width: 0 0 0 6px;
		border-color: #4598E3;
		background: #fff;
		color: #4598E3;
	}
	.video-tab-cont {
		margin-top: 0;
	}
	.about {
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.right-content .about-content h4{
		font-size: 16px;
		color: #4598E3;
	}
	
	/*新闻列表页*/
	.news-list .row{
		margin-bottom: 40px;
	}
	.news-pic{
		margin-bottom: 0;
	}
	.news-text p{
		margin-bottom: 10px;
		overflow : hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	}
	
	.bread {
		margin-top: 0px;
	}
	
	.service{
		padding-top: 50px;
		padding-bottom: 50px;
	}
	
	/*招商加盟*/
	.investment{
		padding-top: 50px;
		padding-bottom: 50px;
	}
}

@media only screen and (min-width:992px) {
	body {
		padding-top: 90px;
	}
	/*顶部导航*/
	.top-box {
		height: 100px;
	}
	.navbar-brand {
		/*height: 100px !important;
		padding-top: 10px;
		padding-bottom: 10px;*/
	}
	.top-box .navbar-brand img {
		height: 100% !important;
	}
	.top-nav li a {
		/*padding: 24px 30px;*/
		line-height: 50px;
		font-size: 16px;
		/*background: #fff !important;*/
	}
	.top-nav li.active a,
	.top-nav li a:hover {
		color: #4E97D9 !important;
	}
	.introduce .intro-content {
		font-size: 16px;
		line-height: 2;
	}
	/*页脚*/
	.zjlist {

		padding-top: 40px;
	}
	.zjlist .thumbnail {
		font-size: 14px;
	}
	/*首页--产品中心*/
	.pro-content>div {
		padding-left: 15px;
		padding-right: 15px;
	}
	.video-content {
		margin-top: 50px;
	}
	.about {
		padding-top: 60px;
		padding-bottom: 60px;
	}
	
	/*新闻列表*/
	.news-pic{
		margin-bottom: 0;
	}
	.news-text p{
		margin-bottom: 15px;
		overflow : hidden;
	    text-overflow: ellipsis;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	}
	
	.service{
		padding-top: 60px;
		padding-bottom: 60px;
	}
	/*招商加盟*/
	.investment{
		padding-top: 60px;
		padding-bottom: 60px;
	}
}

@media only screen and (min-width:1200px) {
	/*顶部导航*/
	.top-box {
		height: 100px;
		border:none;
        box-shadow: 0 5px 25px -8px rgba(0, 0, 0, 0.2);
	}
	.navbar-brand {
		/*height: 100px !important;
		padding-top: 10px;
		padding-bottom: 10px;*/
	}
	.top-box .navbar-brand img {
		height: 100% !important;
	}
	.top-nav li a {
		/*padding: 24px 40px;*/
		line-height: 50px;
		font-size: 16px;
		/*background: #fff !important;*/
	}
	.top-nav li.active a,
	.top-nav li a:hover {
		color: #4E97D9!important;
	}
	/*公共标题*/
	.common-title h2 {
		font-size: 24px;
		margin-top: 0;
		margin-bottom: 10px;
	}
	.common-title span {
		display: block;
		font-size: 20px;
		color: #b2b2b2;
		margin-bottom: 25px;
	}
	/*页脚*/
	.zjlist {

		padding-top: 10px;
	}
	.zjlist .thumbnail {
		font-size: 18px;
	}
	/*首页--新闻*/
	.news {
		padding-top: 20px;
		padding-bottom: 50px;
	}
	.news .news-content {
		margin-top: 95px;
	}
	.news .news-content .caption {
		padding: 0px 9px 20px 9px;
	}
	.news .news-content .caption h3 {
		margin-bottom: 15px;
		font-size: 20px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.news .news-content .caption p {
		font-size: 16px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.news .news-des {
		padding: 30px 9px 40px 9px;
	}
	.news-more .date,
	.news-more .more {
		font-size: 14px;
		line-height: 50px;
	}
	/*首页--公司简介*/
	.introduce {
		padding-top: 10px;
		padding-bottom: 10px;
	}
	.introduce .intro-content {
		font-size: 18px;
		line-height: 2;
	}
	.introduce .intro-content a {
		font-size: 16px;
		margin-top: 30px;
	}
	/*首页--产品中心*/
	.product {
		padding-top: 80px;
		padding-bottom: 90px;
	}
	.pro-content>div {
		padding-left: 15px;
		padding-right: 15px;
	}
	.pro-content .pro-content-item p {
	
		font-size: 24px;
	}
	/*首页--视频中心*/
	.video-content {
		margin-top: 70px;
	}
	.video-tab .video-tab-title h3 {
		margin-top: 0;
		margin-bottom: 0;
		background: #4598E3;
		color: #fff;
		padding: 20px 20px;
	}
	.video-tab li {
		background: #fff;
		clear: both;
		margin-top: 10px;
		width: 100%;
		border-radius: 4px;
		overflow: hidden;
		box-sizing: border-box;
	}
	.video-tab li:first-child {
		margin-top: 0;
	}
	.video-tab li a {
		padding: 24px 0 24px 10;
		border-width: 0 0 0 6px;
		border-color: #4598E3;
		font-size: 14px;
		color: #4598E3;
	}
	.video-tab li a:hover,
	.video-tab>li.active>a,
	.video-tab>li.active>a:hover,
	.video-tab>li.active>a:focus {
		border-width: 0 0 0 6px;
		border-color: #4598E3;
		background: #fff;
		color: #4598E3;
	}
	.about {
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	.service{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	
	/*招商加盟*/
	.investment{
		padding-top: 80px;
		padding-bottom: 80px;
	}
}
.news-detail-content p{font-size:16px;line-height: 30px;margin:10px 0;text-indent:2em}