.thumbnail{border:none;border-radius:0px; padding:0px;}
.news .thumbnail img{border-radius: 4px;}
.news .thumbnail img:hover{animation:bounce 0.5s; }
.news-more .date, .news-more .more{ background: #f5f5f5;}
.container .col-lg-4{margin-bottom: 30px;}
/*--------------------最新活动结束-------------------------*/

.pro-content .pro-content-item{border-radius: 0px;}
.pro-content .pro-content-item p::before,.zjlist .zj_move p:before{border:1px solid #fff;border-radius: 50%;
 position: absolute; width:50px; height:50px; content:"+"; display: inline-block; font-size:40px;color:#fff; font-weight: normal; z-index: 100; top:50%; left:50%;text-align: center; margin-top: -35px; margin-left: -25px; line-height: 46px; font-family: "宋体";transition:all 0.2s ease-out;}
 .pro-content .pro-content-item p{ opacity: 0;transition:all 0.4s ease-out;}
 .pro-content .pro-content-item:hover p{opacity: 1;}
 .pro-content .pro-content-item:hover p:before{margin-top: -25px; }
 .pro-content .pro-content-item img{transform-origin: center center;
	-moz-transform:scale(1); transition:all 0.6s ease-out;
	-webkit-transform:scale(1); 
	-o-transform:scale(1);}
.pro-content .pro-content-item:hover img{-moz-transform:scale(1.05);
	-webkit-transform:scale(1.05); 
	-o-transform:scale(1.05); }
.pro-content .col-lg-3 h4{text-align: center; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
/*--------------------特色项目结束-------------------------*/

.zjlist{margin-top: 100px; margin-bottom: 50px;}
.zjlist img{width:100%;border:1px solid #f5f5f5;}
.zjlist .descript{
	text-indent: 2em;
	font-size: 16px;
	text-align: left;
	color: #6D6C6C;
	height: 0px;
	overflow: hidden;
}
.zjlist .caption .mo-re{margin:0 auto;font-size:16px;}
.zjlist .caption .mo-re p{ height: 30px; padding:3px 15px;}
.zjlist .caption .mo-re a:hover {
    transform: translateY(-23px);
}
.zjlist .zj_move p{ position: absolute;width:100%; height:100%;top:0px;left:0px; line-height:30em; font-size:16px;color:#fff;
}
.zjlist .zj_move p:hover::before{width:55px; height: 55px; line-height: 55px; transition: all 0.3s  ease-out; transform-origin: center center;}
.zjlist .col-xs-6{ margin-bottom: 30px; padding: 0px 40px; }
.zj_move a{ display: block; }
/*--------------------专家结束-------------------------*/
.title-top{padding:10px 15px; display:inline-block; border-bottom:3px solid #00a0e9;}
	ul.ad_li,ul.ad_li1,ul.ad_li2{margin-bottom:0;}
	.nav-aleft{display:inline-block; font-size:100px;}	
	@media (min-width:200px) and (max-width:767px){
	ul.ad_li p,ul.ad_li1 p,ul.ad_li2 p{margin-bottom:5px;}
	ul.ad_li h3,ul.ad_li1 h3,ul.ad_li2 h3{font-size:20px; margin-top:10px; margin-bottom:5px;}
	.tri-wz{ position:absolute; left:47%; bottom:-30px;}
	.triangle-blue2{
		width:0;
		height:0;
		border-width:15px;
		border-style: solid dashed dasheddashed ;
		border-color: #00a0e9 transparent transparent transparent;
	}
	.ad_li li{width:100%; border-bottom:2px solid #00a0e9; text-align:center; display:table; margin-bottom:30px;}
		.ad_li li .li-inner{height:150px; background:#eee; display:table-cell; vertical-align: middle;}
		.ad_li1 li{text-align:center; display:table; margin-bottom:15px;}	
		.ad_li1 li:nth-last-child{border-bottom:2px solid #00a0e9;}	
		.ad_li1 li .li-inner{width:100%; height:150px; background:#eee; display:table-cell; vertical-align: middle;}
		.ad_li2 li{text-align:center; margin-bottom:15px;}	
		.ad_li2 li .li-inner{width:150px; height:150px; padding-top:15px; margin:0 auto; background:#00a0e9; color:#fff; vertical-align: middle;}
		.ad_li i,.ad_li2 i{font-size:50px;}
		.ad_li1 i{font-size:35px;}
		ul.ad_li80{padding-left:15px;}	
		.ad_li80 li{text-align:center; display:table; margin-bottom:15px; overflow:hidden; padding-left:0;}	
		.ad_li80 li .li-inner{width:100%; height:80px; background:#fff; display:table-cell; vertical-align: middle;}
		
		.mg-xs-t15{margin-top:15px;}
	.nav-aleft{margin-top:-30px;}	
	}	
	@media (min-width:768px) and (max-width:1199px){
	.tri-wz{ position:absolute; right:-32px; top:40%;}
	.triangle-blue2{
		width:0;
		height:0;
		border-width:16px;
		border-style:dashed dashed dashed solid ;
		border-color:transparent transparent transparent #00a0e9;
	}
	.ad_li li{width:100%; border-right:3px solid #00a0e9; text-align:center; display:table; margin-bottom:15px;}
		.ad_li li .li-inner{height:200px; background:#eee; display:table-cell; vertical-align: middle;}
		.ad_li1 li{text-align:center; display:table;}	
		.ad_li1 li .li-inner{width:100%; height:200px; background:#eee; display:table-cell; vertical-align: middle;}
		.ad_li2 li{text-align:center;}	
		.ad_li2 li .li-inner{width:200px; height:200px; padding-top:30px; margin:0 auto; background:#00a0e9; color:#fff; vertical-align: middle;}
		.ad_li i,.ad_li2 i{font-size:60px;}
		.ad_li1 i{font-size:40px;}
		ul.ad_li80{padding-left:15px;}	
		.ad_li80 li{text-align:center; display:table; margin-bottom:15px; overflow:hidden; padding-left:0;}	
		.ad_li80 li .li-inner{width:100%; height:80px; background:#fff; display:table-cell; vertical-align: middle;}
		.pd-sm-l25{padding-left:25px;}
	.nav-aleft{margin-top:100px;}	
	}	
	@media (min-width:1200px){
	.tri-wz{ position:absolute; right:-40px; top:42%;}
	.triangle-blue2{
		width:0;
		height:0;
		border-width:20px;
		border-style:dashed dashed dashed solid ;
		border-color:transparent transparent transparent #00a0e9;
	}
	.ad_li li{width:100%; border-right:3px solid #00a0e9; text-align:center; display:table; margin-bottom:15px;}
		.ad_li li .li-inner{height:240px; background:#eee; display:table-cell; vertical-align: middle;}
		.ad_li1 li{text-align:center; display:table;}	
		.ad_li1 li .li-inner{width:100%; height:240px; background:#eee; display:table-cell; vertical-align: middle;}
		.ad_li2 li{text-align:center;}	
		.ad_li2 li .li-inner{width:260px; height:260px; padding-top:60px; margin:0 auto; background:#00a0e9; color:#fff; vertical-align: middle;}
		.ad_li i,.ad_li2 i{font-size:90px;}
		.ad_li1 i{font-size:40px;}
		ul.ad_li80{padding-left:15px;}	
		.ad_li80 li{text-align:center; display:table; margin-bottom:15px; overflow:hidden; padding-left:0;}	
		.ad_li80 li .li-inner{width:100%; height:80px; background:#fff; display:table-cell; vertical-align: middle;}
	.nav-aleft{margin-top:220px;}	
	}	
	.bg-bannerb{background:#4cb0df url(../img/banner_index_2.png) center no-repeat; background-size:100%;}
			/*图片相关样式*/
	.img-first{max-width:100%; height:auto;}
	.img-100 img{width:100%; height:auto;}
	.img-101 img{max-width:100%;; height:auto;}
	.img-100y img{width:100%; height:auto; border-radius:50%;}
	.img-50{width:50%; display:block; margin:0 auto;}
	.img-center{display:block; margin:0 auto;}
	.closeBtn-first{position:absolute; top:10px; right:10px; color:#f00;}