.msdn-subscribe-text {
    margin-bottom: 10px;
}

.msdn-subscribe-email {
    width: 100%;
    margin-bottom: 3px;
}

.msdn-subscribe-email::-moz-placeholder {
  color: #999;
  opacity: 1;
}

.msdn-subscribe-button, .msdn-unsubscribe-button {
    width: 100%;
    background-color: #ddd;
    border: 1px solid transparent;
}

.msdn-subscribe-button.unregistered-user,
.msdn-unsubscribe-button.unregistered-user {
    display: inline-block;
    width: 49%;
}

.msdn-subscribe-success {
    color: blue;
}

.msdn-subscribe-error {
    color: red;
}