body {
  padding-top: 50px;
  padding-bottom: 20px;
}
img, iframe, object {
    margin: 10px;
}
.container {
    width:900px;
}
.header {
    background-color: #eee;
}
.result_table {
    border-color: black;
    border-spacing: 0px;
    text-align: center;
}
    .result_table td {
        padding: 5px;
    }
    .result_table tr:first-child td {
        font-weight: bold;
        border-top: 2pt solid black;
        border-bottom: 1pt solid black;
    }
    .result_table tr:last-child td {
        border-bottom: 2pt solid black;
    }
    .result_table td:first-child {
        font-weight: bold;
        text-align: left;
    }
    .result_table tr:nth-child(even) {
        background-color: #ddd;
    }
div .left {
    float: left;
}
div .right {
    float: right;
}
div .clearboth {
    clear: both;
}
