.addToBasketBtn.loading {
  position: relative;
  background-image: url('../img/ajax-loader.gif');
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: 5px center;
  padding-left: 25px;
}
