.search {
	position: relative;
	margin:30px 10%;
	text-align: center;
	padding-top: 8px;
	background: #F7F7FF;
	border: solid #AAD 1px;
}
.search input {
	margin-right:20px;
}
.search p {
	padding:0px
}
.results {
	margin: 10px 3%;
	text-align: center;
}
.results .year {
	text-align:left;
	margin-top: 2em;
	margin-bottom: 1em;
}

.results .imgMovies {
	margin-left: 32%;
	padding: 0;
	text-align: center;
}

.results .thumb {
	position: relative;
	float: left;
	padding: 0px;
	margin: 0px;
	width: 111px;
	height: 88px;
}
.image {
	background-image: url("/~vgg/publications/images/thumbImg.png");
}
.movie {
	background-image: url("/~vgg/publications/images/thumbMovie.png");
}
.image:hover {
	background-image: url("/~vgg/publications/images/thumbImgHover.png");
}
.movie:hover {
	background-image: url("/~vgg/publications/images/thumbMovieHover.png");
}
.results .thumb img {
	margin: auto;
	display: block;
}

.list .ref {
//	margin-left: 130px; // with image
	margin-left: 0px;
	position: relative;
	text-align:left;
}
.gallery .ref {
	float: left;
	position: relative;
	text-align: left;
	font-size: small;
	padding: 0px;
	margin: 0px;
	width: 30%;
}
.results pre {
        margin-left:20px;
	text-align: left;
}

.results .interYear {
	height: 1em;
	clear: both;
}

.results hr {
	width: 80%;
//	margin: 12px 130px;
	margin: 12px 0px;
	padding: 0px;
	height: 2px;
	border: 0px;
	background: #DDE;
	clear: both;
}
.gallery hr {
	margin: 50px 130px;
}

.title {
	font-size: medium;
	font-weight:bold;
	padding-top: 0px;
	margin-bottom: 0px;
}

.title a {
	text-decoration: none;
}

.doc {
	vertical-align: middle;
}
.authors {
	margin: 0px 0px;
	font-style: italic;
}

.links {
	color: #2222AA;
	font-size: medium;
}

.links a{
	text-decoration:none;
}

.BibtexExpand {
	font-size: medium;
}


.AbstractExpand {
	font-style: italic;
	font-size: medium;
}



 
.pageMenu {
	margin: 4px 3%;
}
.pageMenu .displayAll {
	float: left;
	position: relative;
}
.pageMenu .pageIndex {
	float: right;
	position: relative;
}
.pageIndex b {
	background-color:#EEF;
	padding:2px 5px;
}

.noresult {
	text-align:center;
}

.noresult h3 {
	text-align:center;
	color:#000;
	background-color:#EDD;
	margin-top:1em;
	margin-bottom:1em;
	padding:0.5em;
}
.highlights {
	color: #E00;
	font-weight:bold;
}

div.topshootbar{margin: 0px 0px 0px 40px;
    padding: 2px;
    border: solid #3399FF;
    border-width: 0px 0px 1px 1px;
    letter-spacing: 0.05em;
    font-size: 80%;}

div.topshoot {margin: 0px 0px 0px 0px;
    text-align:left;
    padding: 2px;
    border: solid #3399FF;
    border-width: 0px 0px 1px 1px;
    letter-spacing: 0.05em;
    font-size: 80%;}

div.topshoot a {text-decoration: none; display: block; clear: both;
    text-align:left;
    background: #FFFFFF url(/~vgg/publications/images/tri_up.gif) 3px 50% no-repeat;
    padding: 0px 0px 0px 1.6em;
    margin: 0px;}

