#sexy-author-bio{
padding: 10px;
margin: 0px;
}
#sexy-author-bio:after{
content:"";
display:table;
clear:both
}
#sab-author{
padding: 0;
margin: 0;
margin-bottom: 10px;
display: block;
clear: none;
}
#sab-title-company{
clear: none;
display: inline-block;
}
#sab-company a{
text-decoration: none;
}
#sab-author a:hover, #sab-company a:hover{
text-decoration: none;
}
#sab-gravatar{
float: left;
margin: 0 10px 10px 0;
}
#sab-gravatar img{
float: left;
border: solid 1px;
background-color: #FFF;
}
#sab-social-wrapper a img {
display: inline;
}
#sexy-author-bio .bio-icon{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=100);opacity:1;-webkit-transition:all 0.4s ease;-moz-transition:all 0.4s ease;-o-transition:all 0.4s ease;transition:all 0.4s ease;background-color:transparent;}
#sexy-author-bio .bio-icon:hover{filter:progid:DXImageTransform.Microsoft.Alpha(Opacity=70);opacity:0.7}
#sab-social-wrapper { float: right; }
.author-info { display: none; }
#sab-social-wrapper a, #sexy-author-bio a, #sexy-author-bio div a { box-shadow: none; }
@media only screen and (max-width: 767px) { 
	#sab-author {
    width: 100%;
    padding: 0;
    margin: 0;
    }
    #sab-author a {
    width: 100%;
	text-decoration: none;
    }
    #sab-author, #sab-byline {
    clear: both;
    }
    #sab-social-wrapper { 
    float: none; 
    }
    #sab-social-wrapper a img {
    float: left;
    }
    #sab-social-wrapper a img { 
	margin-bottom: 10px;
	margin-top: 10px; 
	}
}